
<div class="container mt-4">
  <div class="col-12 d-flex justify-content-between gap-1">

    <h1> NUEVA OBRA </h1>
    <button type="submit" class="btn btn-primary fs-4 px-5 text-black space-text" (click)="onSubmit()">PUBLICAR</button>
  </div>

  <div class="container mt-4 p-2 bg-light rounded-5 border border-warning-subtle border-5">
  <form [formGroup]="form" class="row g-3 justify-content-center p-3">
    <div class="col-8">
      <div class="mb-2">
        <label for="nameInput" class="form-label h5">Nombre</label>
        <input type="text" formControlName="name" class="form-control" id="nameInput"
               [class.is-invalid]="(form.controls['name'].touched || form.controls['name'].dirty)
      && form.controls['name'].invalid">
        <div class="invalid-feedback" *ngIf="(form.controls['name'].touched || form.controls['name'].dirty)
      && form.controls['name'].hasError('required')">
          El nombre es requerido.
        </div>
        <div class="invalid-feedback" *ngIf="(form.controls['name'].touched || form.controls['name'].dirty)
      && form.controls['name'].hasError('maxlength')">
          El nombre no puede superar los 50 caracteres.
        </div>
      </div>

      <div class="mb-3">
        <label for="descriptionInput" class="form-label h5">Descripcion</label>
        <textarea class="form-control" id="descriptionInput" rows="3"
                  formControlName="description" [class.is-invalid]="(form.controls['description'].touched
                  || form.controls['description'].dirty) && form.controls['description'].invalid"></textarea>
        <div class="invalid-feedback" *ngIf="(form.controls['description'].touched || form.controls['description'].dirty)
      && form.controls['description'].hasError('required')">
          La descripcion es requerida.
        </div>
        <div class="form-text fst-italic">Puedes agregar tags en la descripción con el simbolo '#' </div>

      </div>

      <div class="row g-3 align-items-center my-3">
       <div class="col-auto col-xl-6 row pb-1">
         <div class="col-auto ">
           <label for="typeInput" class="col-form-label">Tipo:</label>
         </div>
         <div class="col-auto ">
           <select class="form-select" id="typeInput"
                   formControlName="type" [class.is-invalid]="(form.controls['type'].touched
                  || form.controls['type'].dirty) && form.controls['type'].invalid">
             <option value="" selected>--Seleccionar--</option>
             <option value="Cientifico">Cientifico</option>
             <option value="Artistico">Artistico</option>
             <option value="Tecnologico">Artistico</option>
             <option value="Otro">Tecnologico</option>
           </select>
           <div class="invalid-feedback" *ngIf="(form.controls['type'].touched || form.controls['type'].dirty)
      && form.controls['type'].hasError('required')">
             El tipo de obra es requerido.
           </div>
         </div>
       </div>
       <div class="col-auto col-xl-6 row">
         <div class="col-auto">
           <label for="difficultyInput" class="col-form-label">Dificultad:</label>
         </div>
         <div class="col-auto">
           <select class="form-select" id="difficultyInput"
                   formControlName="difficulty" [class.is-invalid]="(form.controls['difficulty'].touched
                  || form.controls['difficulty'].dirty) && form.controls['difficulty'].invalid">
             <option value="" selected>--Seleccionar--</option>
             <option value="1">Facil</option>
             <option value="2">Normal</option>
             <option value="3">Dificil</option>
             <option value="4">Muy Dificil</option>
           </select>
           <div class="invalid-feedback" *ngIf="(form.controls['difficulty'].touched || form.controls['difficulty'].dirty)
      && form.controls['difficulty'].hasError('required')">
             El nivel de dificultad de la obra es requerido.
           </div>
         </div>
       </div>
      </div>
    </div>
    <div class="col-4">
      <img src="assets/camera.png" class="card w-100 border border-warning-subtle border-5">
    </div>

    <div class="col-12 rounded-3 border border-warning-subtle border-5">
      <a class="link-underline link-underline-opacity-0 link-dark text-uppercase h5" data-bs-toggle="collapse"
         href="#collapseConditions" (click)="showConditions = !showConditions">
        Condiciones (Opcional)
        <i class="bi bi-caret-left-fill text-warning" *ngIf="showConditions"></i>
        <i class="bi bi-caret-down-fill text-warning" *ngIf="!showConditions"></i>
      </a>
      <div class="collapse" id="collapseConditions" formArrayName="conditions">
          <div *ngFor="let d of detailsConditions.controls; index as i" [formGroupName]="i">


            <div  class="d-flex mb-1  is-invalid">
              <button class="btn btn-danger me-1 col-auto" (click)="removeDetailCondition(i)"><i class="bi bi-dash-lg"></i></button>

              <input type="text" class="form-control col" formControlName="text"
                     [placeholder]="'Condicion '+(i+1)"
                     [class.is-invalid]="d.get('text')?.invalid
               && (d.get('text')?.dirty || d.get('text')?.touched)"></div>

            <div class="invalid-feedback"
                 *ngIf="d.get('text')?.invalid
                     && (d.get('text')?.dirty || d.get('text')?.touched)">
              <div *ngIf="d.get('text')?.hasError('required')">
                Es requerido (Completar o eliminar)
              </div>
            </div>

          </div>
          <button class="btn btn-warning mb-2 w-100" (click)="addDetailCondition()"> Agregar Condicion</button>

      </div>
    </div>
    <div class="col-12 rounded-3 border border-warning-subtle border-5">
      <a class="link-underline link-underline-opacity-0 link-dark text-uppercase h5" data-bs-toggle="collapse"
         href="#collapseMaterials" (click)="showMaterials = !showMaterials">
        Materiales (Opcional)
        <i class="bi bi-caret-left-fill text-warning" *ngIf="showMaterials"></i>
        <i class="bi bi-caret-down-fill text-warning" *ngIf="!showMaterials"></i>
      </a>
      <div class="collapse" id="collapseMaterials" formArrayName="materials">
        <div *ngFor="let d of detailsMaterials.controls; index as i" [formGroupName]="i">
          <div  class="d-flex mb-1  is-invalid">
            <button class="btn btn-danger me-1 col-auto" (click)="removeDetailMaterials(i)">
            <i class="bi bi-dash-lg"></i></button>

            <input type="text" class="form-control col" formControlName="text"
                   [placeholder]="'Material '+(i+1)"
                   [class.is-invalid]="d.get('text')?.invalid
               && (d.get('text')?.dirty || d.get('text')?.touched)"></div>


          <div class="invalid-feedback" *ngIf="d.get('text')?.invalid
                     && (d.get('text')?.dirty || d.get('text')?.touched)">
            <div *ngIf="d.get('text')?.hasError('required')">
              Es requerido (Completar o eliminar)
            </div>
          </div>

        </div>
        <button class="btn btn-warning mb-2 w-100" (click)="addDetailMaterials()"> Agregar Material</button>

      </div>
    </div>
    <div class="col-12 rounded-3 border border-warning-subtle border-5">
      <a class="link-underline link-underline-opacity-0 link-dark text-uppercase h5" data-bs-toggle="collapse"
         href="#collapseSteps" (click)="showSteps = !showSteps">
        Pasos (Opcional)
        <i class="bi bi-caret-left-fill text-warning" *ngIf="showSteps"></i>
        <i class="bi bi-caret-down-fill text-warning" *ngIf="!showSteps"></i>
      </a>
      <div class="collapse" id="collapseSteps">
        <div class="card card-body">
          Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
        </div>
      </div>
    </div>
    <div class="col-12 rounded-3 border border-warning-subtle border-5">
      <a class="link-underline link-underline-opacity-0 link-dark text-uppercase h5" data-bs-toggle="collapse"
         href="#collapsePurchasedata" (click)="showPurchasedata = !showPurchasedata">
        Datos de venta (Opcional)
        <i class="bi bi-caret-left-fill text-warning" *ngIf="showPurchasedata"></i>
        <i class="bi bi-caret-down-fill text-warning" *ngIf="!showPurchasedata"></i>
      </a>
      <div class="collapse" id="collapsePurchasedata">
        <div class="card card-body">
          Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
        </div>
      </div>
    </div>
  </form>
</div>
</div>
