
<div class="container-lg mb-2" *ngIf="!notfound">
  <div class="p-3 bg-secondary-subtle rounded-2 rounded-top-0 d-flex justify-content-between"
  *ngIf="userService.user?.id==publication.userId.toString()">
    <span class="fs-5 align-content-center">Editar:</span>
    <span>
      <button class="btn btn-warning me-1 bi bi-pencil-fill" routerLink="/editpub/{{publication.id}}"></button>
      <button class="btn btn-danger" (click)="delete()">ELIMINAR</button>
    </span>
  </div>

  <div class="p-3 mb-3 rounded-5 border-gradient  mt-4">
      <div class="row mb-3">
        <div class="col-md-6">
          <h2 class="mb-2">
            {{publication.name}}
            <span class="text-secondary fs-6">{{publication.dateTime| date:"d/MM/yyyy hh:mm"}}</span>
          </h2>
          <div class="d-flex align-items-center gap-1 mb-2">
            <div class="col-auto rounded-3 bg-warning px-1">
              {{publication.type}}
            </div>
            <div class="col-auto rounded-3 bg-orange px-1 text-white">
              {{publication.difficulty}}
            </div>
          </div>
          <div class="mb-2 p-1 me-1 btn" (click)="goUser()">
            <img [src]="publication.userIconUrl || 'assets/camera.png'" *ngIf="publication.userIconUrl!=''"
                 style="width: 50px; height: 50px;" class="rounded-circle">
            <span class="ms-1">{{publication.username}}</span>
          </div>
          <div class="mb-4 p-1 me-1 rounded-2 bg-secondary-subtle">
            {{publication.description }}
          </div>

          <!--    *ngIf="publication.canSold"-->
          <div *ngIf="publication.canSold && userService.user?.id==publication.userId.toString()"
            class="border-orange rounded-2 p-2">
            <div> <span class="fw-bold">Precio:</span> ${{publication.price || 0}} </div>
            <div>
              <span class="fw-bold">Cantidad:</span>  {{publication.count || 0}} disponibles
            </div>
          </div>
          <div class="p-1 mb-3 d-flex  align-items-center" *ngIf="publication.canSold &&
           userService.user?.id!=publication.userId.toString()">
            <div>
              <button class="btn btn-primary w-100 mb-1" (click)="buy()" >COMPRAR</button><br>
              <button class="btn btn-warning" (click)="addCart()" >AÑADIR AL CARRITO</button>
            </div>
            <div class="px-2">
              <div>
                <span class="fw-bold">Precio:</span> ${{publication.price || 0}}
              </div>
              <div class="d-md-flex align-items-center">
                <div class="col-auto fw-bold">
                  Unidades:&nbsp;
                </div>
                <div class="col-sm">
                  <input class="form-control form-control-sm" type="number"
                         [(ngModel)]="countBuy" style="min-width: 50px"
                         value="1" min="1" (input)="checkValue()"
                         (ngModelChange)="checkValue()"
                         (focusout)="checkValue()">
                </div>
                <div class="col-auto">
                  &nbsp;de {{publication.count || 0}} disponibles
              </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div id="carouselExample" class="carousel slide bg-secondary-subtle  rounded-2 p-1"
               #img1>
            <div class="carousel-inner">
              <div class="carousel-item text-center align-content-center"
                   *ngFor="let p of photos; index as i" [class.active]="i==0"
                    style="height: 30rem">
                <img [src]="p.imageUrl || 'assets/camera.png'"
                     class="w-100"
                     style="object-fit: contain; max-height: 100%; max-width: 100%">
              </div>
              <div class="carousel-item justify-content-center align-content-center"
                   *ngIf="publication.video" [class.active]="photos.length<=0"  style="height: 30rem; padding: 0 25px ;">
                <div>
                  <youtube-player #youTubePlayer
                                  [videoId]="publication.video"
                                  [width]="(img1?.clientWidth||50)-50"
                                  [height]="img1?.clientWidth||50">
                  </youtube-player>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev"
                    *ngIf="photos.length>1">
              <span class="bi-caret-left-fill text-black fs-1" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next"
                    *ngIf="photos.length>1">
              <span class="bi-caret-right-fill text-black fs-1" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>

          <div class="bg-secondary-subtle  rounded-2 bg-secondary-subtle p-1 text-center">
            <div class="">
              <button class="bi bi-star-fill text-secondary btn fs-3" *ngFor="let b of [0,1,2,3,4]"
                      (click)="calificate(b+1)"
                      [class.text-warning]="publication.myCalification>b"></button>
            </div>
            <span>Promedio: </span>
            <i class="bi bi-star-fill text-secondary"  *ngFor="let b of [0,1,2,3,4]"
               [class.text-warning]="publication.calification>b"></i>
          </div>
        </div>
      </div>


      <div class="p-2 rounded-3 bg-secondary-subtle  mb-3" *ngIf="conditions.length>0">
        <h5 class="text-uppercase">Condiciones</h5>
        <div class="">
          <div *ngFor="let d of conditions; index as i" class="d-flex mb-1">

            <div class="col-auto me-1 rounded-circle bg-orange text-center text-white
            fs-3 rounded-2 align-content-center point-text">!</div>
            <div class="col rounded-2 bg-body-secondary p-1 text-break
                         align-content-center">{{ d.text }}</div>
<!--            <div class="rounded-2 bg-body-secondary p-1">asdasdaaaaaaaaaaaaaaaaaaaaaaaaaaa-->
<!--              aaaaaaaaaaaaaaaaaaaaaaaaaaaaasdasdads</div>-->
          </div>

        </div>
      </div>
      <div class="p-2 rounded-3 bg-secondary-subtle  mb-3"  *ngIf="materials.length>0">
        <h5 class="text-uppercase">Materiales</h5>
        <div class="">
          <div *ngFor="let d of materials; index as i" class="d-flex mb-1">

            <div class="col-auto me-1 rounded-circle bg-orange text-center text-white
            fs-3 rounded-2 align-content-center point-text">{{ i + 1 }}</div>
            <div class="col rounded-2 bg-body-secondary p-1 align-content-center">{{ d.text }}</div>
          </div>

        </div>
      </div>
      <div class="p-2 rounded-3 bg-secondary-subtle  mb-3"  *ngIf="steps.length>0">
        <h5 class="text-uppercase">Pasos de fabricación</h5>
        <div class="">
          <div *ngFor="let d of steps; index as i" class="mb-3 list-group ">
            <div class="list-group-item p-1 bg-orange text-white border-orange  fs-4">Paso {{ i + 1 }}</div>
            <div class="list-group-item p-1 bg-body-secondary border-5
             border-orange  border-top-0">{{ d.text }}</div>
            <div class="border-5 px-5 border-orange list-group-item bg-transparent
              rounded-bottom-1 border-top-0 justify-content-center align-content-center" style="height: 30rem"
                 *ngIf="d.imageUrl">

              <img [src]="d.imageUrl" alt="step" class="w-100"
                   style="object-fit: contain; max-height: 100%; max-width: 100%">
            </div>
          </div>

        </div>
      </div>

  </div>
  <app-comments [idPub]="publication.id" >
  </app-comments>
</div>
<ng-container  *ngIf="notfound">
  <div class="text-center text-break h1 position-absolute top-50 w-100">
    NO SE ENCONTRÓ LA PUBLICACIÓN
  </div>
</ng-container>
