<div class="container">
  <h1 class="h1">Entregas</h1>
<!--  <div class="row gap-2 justify-content-center">-->
<!--    <button class="btn btn-primary" (click)="charge(0)">REGENERAR</button>-->
<!--  </div>-->
  <div class="p-3 column-gap-2">
    <div class="position-absolute top-50 start-50 translate-middle"
         *ngIf="list.length<=0">
      <h1 class="text-center "> Sin entregas por completar</h1>
    </div>
    <div class="row border-5 btn-border-orange rounded-5 p-2 bg-secondary-subtle mb-2" *ngFor="let i of list"
         data-bs-toggle="modal" data-bs-target="#exampleModal"
         (click)="open(i)">
      <div class="col-auto  p-0">
        <div class="mb-2 h4 px-2">
          N°{{i.id}}
        </div>
        <div class="position-relative img-stat-container">
          <img class="border border-4 border-secondary rounded rounded-4"
               [class]="i.details[1] ? 'image-pos-1 img-stat-1' : 'w-100'"
               [src]="i.details[0].imageUrl" >
          <img class="border border-4 border-secondary rounded rounded-2 gap-image-2 img-stat-1"
               [src]="i.details[1].imageUrl"  *ngIf="i.details[1]">
          <div class="border border-4 border-secondary rounded rounded-2 gap-image-3 img-stat-2 bg-secondary"
               *ngIf="i.details[2]">+{{i.details.length-2}}</div>
        </div>
      </div>
      <div class="col p-3 justify-content-between align-content-center">
        <div class="mb-2">
          Comprador: <span class="text-secondary text-capitalize"> {{i.name}}</span>
        </div>
        <div class="mb-2">
          Obras: <span class="text-secondary" *ngFor="let d of i.details; index as index">
            {{ index==0?'':',' }} ({{d.count}}){{d.name}}</span>
        </div>
        <div class="mb-2">
          Direccion: <span class="text-secondary" > {{ i.direction}}</span>
        </div>
        <div class="mb-2">
          Telefono: <span class="text-secondary"> {{i.phone}}</span>
        </div>
      </div>
      <div class="col-sm-auto d-flex align-items-end justify-content-end  p-0" >
        <div class="p-3 rounded-5 border border-2 text-uppercase  text-center"
             [class]="stateClasses(i.deliveryState)">
          {{ i.deliveryState }}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content bg-transparent border-transparent">
      <app-show-delivery [delivery]="selected" (eventClose)="charge(0)"></app-show-delivery>
    </div>
  </div>
</div>
