<div class="container middle-body" *ngIf="!service.user">
  <div class="h1 w-100 h-75 text-center "> Bienvenido</div>
  <div class="h3 w-100 h-75 text-center"> Para empezar a navegar
    <button class="btn btn-primary  btn-lg" routerLink="/login">Inicia sesión</button>
    o
    <button class="btn btn-warning" routerLink="/register">Crea tu cuenta</button>
  </div>
  <!--    <div class="w-100 h-75 text-center"> o si eres usuario nuevo-->
  <!--    </div>-->
</div>

<div class="container-fluid" *ngIf="service.user">
  <div class="p-3 row align-items-center bg-gradient-grey">
    <div class="p-0 col-sm-2 col-4 rounded-circle overflow-hidden border-orange border-5 ">
      <img class="w-100 h-100" [src]="service.user.iconUrl||'' " alt="perfil"></div>
    <div class="col">
      <div class="h4">
        Bienvenido de nuevo, <span class="fw-bold">{{ service.user.username || "" }} </span>
      </div>
      <div class="h6"> {{ service.user.email || "" }}</div>
    </div>
  </div>
  <div class="h5 text-center">Recomendaciones</div>
  <div class="gap-1 row justify-content-center align-items-center p-3 pt-3">
    <div class="col-1 p-0 card btn-border-orange bg-body-tertiary h-25" style="width: 15rem;"
         *ngFor="let p of list" (click)="go(p.id)">
      <img [src]="p.imageUrl" class="card-img" [alt]="p.name"
           style="height: 100%; width: 100%">

      <div class="card-img-overlay pub-hover" >
        <h5 class="card-title">{{ p.name }}</h5>

        <div class="">
          <p class="card-text">Por <span class="fw-bold">{{ p.username }}</span></p>
        </div>
        <div class="">
          <i class="bi bi-star-fill text-warning"></i> {{p.calification}}
        </div>

        <div class="card-body">
          <p class="card-text">{{ p.description }}</p>
        </div>
      </div>

    </div>
    <h2 *ngIf="list.length<=0" class="text-center text-secondary text-break">No se encontraron publicaciones...</h2>
  </div>
</div>
