
<div class="card btn-border-orange bg-body-tertiary rounded-3 overflow-hidden" style="width: 15rem;"
  [routerLink]="'/pub/'+p.id" >
  <img [src]="p.imageUrl" class="card-img" [alt]="p.name"
       style="height: 100%; width: 100%; min-height: 9rem">

  <div class="card-img-overlay pub-hover" >
    <div class="d-inline-block overflow-hidden" style="max-height: 100%">
      <h5 class="card-title text-clamp">{{ p.name }}</h5>

      <div class="">
        <p class="card-text">Por <span class="fw-bold">{{ p.username }}</span></p>
      </div>
      <div class="">
        <i class="bi bi-star-fill text-warning"></i> {{p.calification}}
      </div>

      <div class="">
        <p class="card-text text-break"
           innerHTML="{{p.description | styledText}}"></p>
      </div>
    </div>
    <div class="position-absolute bottom-0 end-0
      text-end align-text-bottom fst-italic p-2 pt-4 w-100 bg-gradient-black-top">
      {{ p.dateTime | date:"d/MM/YY hh:mm"}}
    </div>
  </div>

</div>
