<div class="container my-4">

  <div class="mt-4 d-flex justify-content-between">
    <h1 class="fs-3">MODIFICAR</h1>

    <span>
      <button class="btn btn-primary me-1" (click)="swalSubmit()"
              [disabled]="form.pristine || form.invalid">GUARDAR PERFIL</button>
    </span>
  </div>
  <div class=" mt-4 p-5 bg-light border-gradient">
    <form [formGroup]="form" class="g-3">

      <div class="row mb-3">
        <div class="col-md-8">
          <div class="input-float bg-secondary-subtle mb-3"
               [class.border-danger]="(form.controls['username'].touched || form.controls['username'].dirty)
                && form.controls['username'].invalid">
            <label class="fs-6 fw-bold" for="usernameInput">Nombre de usuario</label>
            <input type="text" readonly formControlName="username" id="usernameInput" placeholder=""
                   class="bg-secondary-subtle"
                   [class.fst-italic]="form.controls['username'].value!=user.username">

            <div class="px-1 text-danger fs-6 fst-italic" *ngIf="(form.controls['username'].touched
            || form.controls['username'].dirty)
              && form.controls['username'].hasError('required')">
              El nombre de usuario es requerido.
            </div>
            <div class="invalid-feedback" *ngIf="(form.controls['username'].touched || form.controls['username'].dirty)
              && form.controls['username'].hasError('maxlength')">
              El nombre no puede superar los 50 caracteres.
            </div>
          </div>

          <div class="input-float mb-3 bg-secondary-subtle"
               [class.border-danger]="(form.controls['email'].touched || form.controls['email'].dirty)
                && form.controls['email'].invalid">
            <label class="fs-6 fw-bold " for="emailInput">Email</label>
            <input readonly type="text" formControlName="email"  id="emailInput" placeholder=""
                   [class.fst-italic]="form.controls['email'].value!=user.email"
                   class="bg-secondary-subtle">

            <div class="px-1 text-danger fs-6 fst-italic"
                 *ngIf="(form.controls['email'].touched || form.controls['email'].dirty)
              && form.controls['email'].hasError('required')">
              El email es requerido.
            </div>
            <div class="invalid-feedback" *ngIf="(form.controls['email'].touched || form.controls['email'].dirty)
      && form.controls['email'].hasError('email')">
              El tiene formato invalido.
            </div>
          </div>

          <div class="mb-3">
            <button class="btn btn-primary" routerLink="/pass">
              CAMBIAR CONTRASEÑA
            </button>
          </div>

        </div>
        <div class="col-md-4 ">
          <div class="btn btn-border-orange p-1 w-100" data-bs-toggle="modal"
               data-bs-target="#exampleModal" >
            <img [src]="iconUrl || 'assets/camera.png'" class="w-100 h-100" alt="" style="aspect-ratio: 1/1" >

<!--            <button class="text-center border-white-button bg-white">-->
<!--            </button>-->
            <div>Agregar o Cambiar Foto de perfil</div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Seleccionar imagen de perfil</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <label for="formFile" class="form-label">Imagen</label>
              <input class="form-control form-control-sm col mb-1" type="file" id="formFile"
                     accept="image/png, image/jpeg"
                     (change)="selectIcon($event)">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <h5>Datos especiales</h5>

      <div class="row justify-content-between">
        <div class="col-6 p-2">
          <div class="input-float"
               [class.border-danger]="(form.controls['name'].touched || form.controls['name'].dirty)
                && form.controls['name'].invalid">
            <label class="fs-6 fw-bold " for="nameInput">Nombre</label>
            <input type="text" formControlName="name"  id="nameInput" placeholder=""
                   [class.fst-italic]="form.controls['name'].value!=user.name">


            <div class="invalid-feedback" *ngIf="(form.controls['name'].touched || form.controls['name'].dirty)
      && form.controls['name'].hasError('maxlenght')">
              El nombre es muy largo.
            </div>
          </div>
        </div>

        <div class="col-6 p-2">
          <div class="input-float"
               [class.border-danger]="(form.controls['lastname'].touched || form.controls['lastname'].dirty)
                && form.controls['lastname'].invalid">
            <label class="fs-6 fw-bold " for="lastnameInput">Apellido/s</label>
            <input type="text" formControlName="lastname"  id="lastnameInput" placeholder=""
                   [class.fst-italic]="form.controls['lastname'].value!=user.lastname">

            <div class="invalid-feedback" *ngIf="(form.controls['lastname'].touched || form.controls['lastname'].dirty)
      && form.controls['lastname'].hasError('maxlenght')">
              El apellido es muy largo.
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-between">
        <div class="col-sm-6 p-2">
          <div class="input-float"
               [class.border-danger]="(form.controls['phone'].touched || form.controls['phone'].dirty)
                && form.controls['phone'].invalid">
            <label class="fs-6 fw-bold " for="phoneInput">Teléfono</label>
            <input type="text" formControlName="phone"  id="phoneInput" placeholder=""
                   [class.fst-italic]="form.controls['phone'].value!=user.phone">


            <div class="invalid-feedback" *ngIf="(form.controls['phone'].touched || form.controls['phone'].dirty)
      && form.controls['phone'].hasError('maxlenght')">
              El telefono es muy largo.
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-start mb-3">
        <div class="col-md-3 col-4 p-2">
          <div class="input-float"
               [class.border-danger]="(form.controls['dniType'].touched || form.controls['dniType'].dirty)
                && form.controls['dniType'].invalid">
            <label class="fs-6 fw-bold " for="dniTypeInput">Tipo de Documento</label>
            <select formControlName="dniType" id="dniTypeInput"
                    [class.fst-italic]="form.controls['dniType'].value!=user.dniType">
              <option value="DNI" selected>DNI</option>
              <option value="PASAPORTE">PASAPORTE</option>
              <option value="LIBRETA">LIBRETA</option>
            </select>

          </div>
        </div>

        <div class="col-md-6 col-sm-8 p-2">
          <div class="input-float"
               [class.border-danger]="(form.controls['dni'].touched || form.controls['dni'].dirty)
                && form.controls['dni'].invalid">
            <label class="fs-6 fw-bold " for="dniInput">Documento</label>
            <input type="text" formControlName="dni"  id="dniInput" placeholder=""
                   [class.fst-italic]="form.controls['dni'].value!=user.dni">

          </div>
        </div>
      </div>


      <div class="row justify-content-between mb-2">
        <div class="col-sm-3 p-2">
          <div class="input-float"
               [class.border-danger]="(form.controls['state'].touched || form.controls['state'].dirty)
                && form.controls['state'].invalid">
            <label class="fs-6 fw-bold " for="stateInput">Provincia</label>
            <select formControlName="state" id="stateInput"
                    [class.fst-italic]="form.controls['lastname'].value!=user.lastname">
              <option value="0" selected disabled hidden>---</option>
              <option *ngFor="let s of listStates" [value]="s.id" >{{s.name}}</option>
            </select>
            <div class="invalid-feedback" *ngIf="(form.controls['lastname'].touched || form.controls['lastname'].dirty)
      && form.controls['state'].hasError('state')">
              El apellido es muy largo.
            </div>
          </div>
        </div>

        <div class="col p-2">
          <div class="input-float"
               [class.border-danger]="(form.controls['direction'].touched || form.controls['direction'].dirty)
                && form.controls['direction'].invalid">
            <label class="fs-6 fw-bold " for="directionInput">Dirección o calle</label>
            <input type="text" formControlName="direction"  id="directionInput" placeholder=""
                   [class.fst-italic]="form.controls['direction'].value!=user.direction">
          </div>
        </div>

        <div class="col-3 p-2">
          <div class="input-float"
               [class.border-danger]="(form.controls['numberDir'].touched || form.controls['numberDir'].dirty)
                && form.controls['numberDir'].invalid">
            <label class="fs-6 fw-bold " for="numberDirInput">Número</label>
            <input type="text" formControlName="numberDir"  id="numberDirInput" placeholder=""
                   [class.fst-italic]="form.controls['numberDir'].value!=user.numberDir">
          </div>
        </div>
      </div>

      <div class="row justify-content-between mb-2">
        <div class="col-4 p-2">
          <div class="input-float"
               [class.border-danger]="(form.controls['postalNum'].touched || form.controls['postalNum'].dirty)
                && form.controls['postalNum'].invalid">
            <label class="fs-6 fw-bold " for="postalNumInput">Código Postal</label>
            <input type="text" formControlName="postalNum"  id="postalNumInput" placeholder=""
                   [class.fst-italic]="form.controls['postalNum'].value!=user.postalNum">
          </div>
        </div>


        <div class="col-4 p-2">
          <div class="input-float"
               [class.border-danger]="(form.controls['floor'].touched || form.controls['floor'].dirty)
                && form.controls['floor'].invalid">
            <label class="fs-6 fw-bold " for="floorInput">Piso</label>
            <input type="text" formControlName="floor"  id="floorInput" placeholder=""
                   [class.fst-italic]="form.controls['floor'].value!=user.floor">
          </div>
        </div>


        <div class="col-4 p-2">
          <div class="input-float"
               [class.border-danger]="(form.controls['room'].touched || form.controls['room'].dirty)
                && form.controls['room'].invalid">
            <label class="fs-6 fw-bold " for="roomInput">Habitación</label>
            <input type="text" formControlName="room"  id="roomInput" placeholder=""
                   [class.fst-italic]="form.controls['room'].value!=user.room">
          </div>
        </div>
      </div>


      <div class="row justify-content-start mb-3">
        <div class="col-md-6 p-2 pb-0">
          <div class="input-float"
               [class.border-danger]="(form.controls['cvu'].touched || form.controls['cvu'].dirty)
                && form.controls['cvu'].invalid">
            <label class="fs-6 fw-bold " for="mpClientInput">CVU</label>
            <input type="text" formControlName="cvu"  id="mpClientInput" placeholder=""
                   [class.fst-italic]="form.controls['cvu'].value!=user.cvu">
            <div class="invalid-feedback" *ngIf="(form.controls['cvu'].touched || form.controls['cvu'].dirty)
              && form.controls['cvu'].invalid">
              No es un CBU valido {{form.controls['cvu'].errors|json}}
            </div>

          </div>
        </div>
        <div>

          *Necesario para realizar venta de obras
        </div>
      </div>

      <div class="p-1 rounded-2 bg-secondary-subtle d-flex text-break align-content-center" >
        Los datos anteriores son necesarios para la compra y venta:
        <div class="ms-1 p-1 rounded-2 text-white"
             [ngClass]="{'bg-success':canBuy,'bg-danger':!canBuy}">
          {{canBuy?"Puedes Comprar":"No puedes Comprar"}}
        </div>
        <div class="ms-1 p-1 rounded-2 text-white"
             [ngClass]="{'bg-success':canSell,'bg-danger':!canSell}">
          {{canSell?"Puedes Vender":"No puedes Vender"}}
        </div>
      </div>

    </form>
  </div>
</div>
