<div class="container-fluid">
  <div class="row justify-content-between p-1">
    <h1 class="col">Explorar</h1>
    <div class="col-auto align-content-center">
      <button class="btn btn-primary" (click)="gonew()">
        NUEVA OBRA <i class="bi bi-arrow-right"></i>
      </button>
    </div>
  </div>
  <div class="card border-orange-n mb-3">
    <form [formGroup]="form" class="row g-3 justify-content-center p-3 d-flex">
      <div class="col">
        <div class="mb-1">
          <input type="text" formControlName="text" class="form-control sel-orange" id="nameInput"
                 placeholder="Nombre o tags">
        </div>
        <div class="row g-1 mb-1">
          <div class="col-auto">
            <select class="form-select sel-orange" formControlName="type">
              <option selected value="NONE">--CUALQUIER TIPO--</option>
              <option value="ARTE">ARTE</option>
              <option value="CIENCIA">CIENCIA</option>
              <option value="TECNOLOGIA">TECNOLOGIA</option>
            </select>
          </div>
          <div class="col-auto ">
            <div class="rounded-2 sel-orange">

              <span class="px-1">Calificacion minima</span>
              <input type="radio" class="btn-check" name="options" id="option0" autocomplete="off" checked>
              <label class="btn bi bi bi-x-lg " for="option0"></label>

              <input type="radio" class="btn-check" name="options" id="option1" autocomplete="off">
              <label class="btn bi bi-star-fill text-warning" for="option1"></label>

              <input type="radio" class="btn-check" name="options" id="option2" autocomplete="off">
              <label class="btn bi bi-star-fill text-warning" for="option2"></label>

              <input type="radio" class="btn-check" name="options" id="option3" autocomplete="off">
              <label class="btn bi bi-star-fill text-warning" for="option3"></label>

              <input type="radio" class="btn-check" name="options" id="option4" autocomplete="off">
              <label class="btn bi bi-star-fill text-warning" for="option4"></label>

              <input type="radio" class="btn-check" name="options" id="option5" autocomplete="off">
              <label class="btn bi bi-star-fill text-warning" for="option5"></label>
            </div>
          </div>
        </div>
        <div class="row g-1">
          <div class="col-auto">
            <select class="form-select sel-orange" aria-label="Default select example">
              <option selected>Open this select menu</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
          <div class="col-auto">
            <select class="form-select sel-orange" aria-label="Default select example">
              <option selected>Open this select menu</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
          <div class="col-auto p-2">
            <div class="form-check ">
              <input class="form-check-input bg-secondary" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Default checkbox
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-auto  d-flex flex-column ">
        <div class="mb-1 flex-fill">
          <button class="btn btn-primary w-100 h-100" (click)="charge(1)">
            BUSCAR
          </button>
        </div >
        <div  class="mb-1">
          <button class="btn btn-warning text-break w-100">
          LIMPIAR
          FILTROS
        </button>
        </div>
      </div>
    </form>
  </div>

  <div class="gap-1 row justify-content-center p-3">
    <div class="col-1 card btn border-orange bg-body-tertiary" href="#"  style="width: 15rem;" *ngFor="let p of list"
    (click)="go(p.id)">
      <div class="d-flex justify-content-between">
        <h3 class="card-title">{{ p.name }}</h3>
        <h5 class="text-secondary">{{ p.difficulty }}</h5>
      </div>
      <div class="position-relative">
        <img [src]="p.imageUrl" class="card-img-top" [alt]="p.name" style=" max-height: 15rem;">
        <span class="position-absolute bottom-0 start-0 rounded-pill text-bg-secondary p-1 text-warning">
          <i class="bi bi-star-fill" *ngFor="let s of [].constructor(p.calification)"></i>
        </span>
      </div>
      <div class="card-body">
        <p class="card-text">{{p.description}}</p>
      </div>
    </div>
    <h2 *ngIf="list.length<=0" class="text-center text-secondary text-break">No se encontraron publicaciones...</h2>
  </div>

  <div >
    <ul class="pagination justify-content-center ">
      <li class="page-item ">
        <button class="page-link border-orange text-black" (click)="charge(page-1)">Previous</button></li>
      <li class="page-item ">
        <button class="page-link border-orange text-black" (click)="charge(1)">1</button></li>
      <li class="page-item ">
        <button class="page-link border-orange text-black" (click)="charge(page+1)">Next</button></li>
    </ul>
  </div>
</div>
