<div class="container-fluid">
  <div class="row justify-content-between p-1">
    <h1 class="col">Explorar</h1>
    <div class="col-auto align-content-center">
      <button class="btn btn-primary" (click)="gonew()">
        NUEVA OBRA <i class="bi bi-arrow-right"></i>
      </button>
    </div>
  </div>
  <div class="card border-orange-n mb-3">
    <form [formGroup]="form" class="row g-3 justify-content-center p-3 d-flex">
      <div class="col">
        <div class="mb-1">
          <input type="text" formControlName="text" class="form-control form-orange" id="nameInput"
                 placeholder="Nombre o tags">
        </div>
        <div class="row g-1 mb-1">
          <div class="col-3 form-floating">
            <select class="form-select form-orange" formControlName="diffMin" id="diffMin">
              <option value="1" selected>FÁCIL</option>
              <option value="2">NORMAL</option>
              <option value="3">DIFICIL</option>
              <option value="4">MUY DIFICIL</option>
            </select>
            <label class="form-label-grey" for="diffMin">Dificultad minima</label>
          </div>
          <div class="col-auto ">
            <div class="rounded-2 form-orange">

              <span class="px-1">Calificacion minima</span>
              <span *ngFor="let i of [0,1,2,3,4]">
                <input type="radio" class="btn-check" formControlName="points"  [value]="i" [id]="'option'+i" checked>
                <label class="btn bi bi-star-fill text-secondary" [for]="'option'+i"
                [class.text-warning]="form.get('points')?.value>i-1"></label>
              </span>
            </div>
          </div>
        </div>
        <div class="row g-1">
          <div class="col-3 form-floating">
            <select class="form-select form-orange" formControlName="diffMax" id="diffMax">
              <option value="1" selected>FÁCIL</option>
              <option value="2">NORMAL</option>
              <option value="3">DIFICIL</option>
              <option value="4">MUY DIFICIL</option>
              <label for="type">Tipo de obra</label>
            </select>
            <label class="form-label-grey" for="diffMax">Dificultad maxima</label>
          </div>
          <div class="col-auto form-floating">
            <select class="form-select form-orange" formControlName="type" id="type">
              <option selected value="NONE">--CUALQUIER TIPO--</option>
              <option value="ARTE">ARTE</option>
              <option value="CIENCIA">CIENCIA</option>
              <option value="TECNOLOGIA">TECNOLOGIA</option>
            </select>
            <label class="form-label-grey" for="type">Tipo de obra</label>

          </div>
          <div class="col-auto p-2">
            <div class="form-check ">
              <input class="form-check-input bg-secondary" type="checkbox" value="false" formControlName="mine" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Mis Publicaciones
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-auto  d-flex flex-column ">
        <div class="mb-1 flex-fill">
          <button class="btn btn-primary w-100 h-100" (click)="charge(0)">
            BUSCAR
          </button>
        </div >
        <div  class="mb-1">
          <button class="btn btn-warning text-break w-100" (click)="clear()">
          LIMPIAR
          FILTROS
        </button>
        </div>
      </div>
    </form>
  </div>

  <div class="gap-1 row justify-content-center p-3">
    <div class="col-1 card btn border-orange bg-body-tertiary" href="#"  style="width: 15rem;" *ngFor="let p of list"
    (click)="go(p.id)">
      <div class="d-flex justify-content-between">
        <h3 class="card-title">{{ p.name }}</h3>
        <h5 class="text-secondary">{{ p.difficulty }}</h5>
      </div>
      <div class="position-relative">
        <img [src]="p.imageUrl" class="card-img-top" [alt]="p.name" style=" max-height: 15rem;"
             *ngIf="p.imageUrl!=''">
        <span class="position-absolute bottom-0 start-0 rounded-pill text-bg-secondary p-1 text-warning"
        *ngIf="p.calification!=0">
          <i class="bi bi-star-fill" *ngFor="let s of [].constructor(p.calification)"></i>
        </span>
      </div>
      <div class="card-body">
        <p class="card-text">{{p.description}}</p>
      </div>
    </div>
    <h2 *ngIf="list.length<=0" class="text-center text-secondary text-break">No se encontraron publicaciones...</h2>
  </div>

  <div >
    <ul class="pagination justify-content-center ">
      <li class="page-item ">
        <button class="page-link border-orange text-black" (click)="charge(page-1)">Previous</button></li>
      <li class="page-item " *ngFor="let p of pages; ">
        <button class="page-link " (click)="charge(p)"
                [ngClass]="p == page ? 'bg-orange border-orange text-white':'border-orange text-black'"
        >{{ p+1 }}</button></li>
      <li class="page-item ">
        <button class="page-link border-orange text-black" (click)="charge(page+1)">Next</button></li>
    </ul>
  </div>
</div>
<!--<div>{{form.value|json}}</div>-->
