<div class="container-fluid">
  <div class="row justify-content-between p-1">
    <h1 class="col">Usuarios</h1>

  </div>
  <div class="card border-orange mb-3">
    <form [formGroup]="form" class="row g-3 justify-content-center p-3 d-flex">
      <div class="col">
        <input type="text" formControlName="text" class="form-control form-orange" id="nameInput"
               placeholder="Nombre ">
      </div>
      <div class="col-auto">
        <button class="btn btn-primary" (click)="charge(0)">
          BUSCAR
        </button>
      </div>
    </form>
  </div>

  <div class="p-1 border-orange rounded-2 mb-1 overflow-x-auto">
    <table class="table">
      <thead>
      <tr>
        <th scope="col"class="text-end">ID</th>
        <th scope="col">USUARIO</th>
        <th scope="col">EMAIL</th>
        <th scope="col">PUBLICACIONES</th>
        <th scope="col">COMPRAS</th>
        <th scope="col">VENTAS</th>
        <th scope="col" class="text-center">ACCIONES</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let u of list" (dblclick)="go(u.id)" >
        <th scope="row" class="text-end">{{ u.id }}</th>
        <td>{{ u.username }}</td>
        <td>{{ u.email }}</td>
        <td>{{ u.pubs }}</td>
        <td>{{ u.buys}}</td>
        <td>{{ u.sells }}</td>
        <td class="text-center dropstart d-flex">
          <button class="btn btn-warning bi bi-search me-1" (click)="go(u.id)"></button>
          <a class="btn btn-secondary bi bi-three-dots" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          </a>

          <ul class="dropdown-menu bg-secondary-subtle">
            <li><a class="dropdown-item btn" (click)="edit(u)">Cambiar Rol</a></li>
          </ul>
        </td>
      </tr>
      </tbody>
    </table>
    <h1 class="text-center" *ngIf="list.length==0 ">Sin datos</h1>
  </div>


  <ng-container *ngIf="pages>1">
    <app-pagination (eventChange)="charge($event)" [pages]="pages" [page]="page"></app-pagination>
  </ng-container>
</div>
<!--<div>{{form.value|json}}</div>-->
