<div class="container-fluid">
  <div class="row justify-content-between p-1">
    <h1 class="col">Usuarios</h1>

  </div>
  <div class="card border-orange mb-3">
    <form [formGroup]="form" class="row g-3 justify-content-center p-3 d-flex">
      <div class="col-10">
        <input type="text" formControlName="text" class="form-control form-orange" id="nameInput"
               placeholder="Nombre o tags">
      </div>
      <div class="col-2">
        <button class="btn btn-primary w-100 h-100" (click)="charge(0)">
          BUSCAR
        </button>
      </div>
    </form>
  </div>

  <div class="p-1 border-orange rounded-2 mb-1">
    <table class="table">
      <thead>
      <tr>
        <th scope="col"class="text-end">ID</th>
        <th scope="col">USUARIO</th>
        <th scope="col">EMAIL</th>
        <th scope="col">PUBLICACIONES</th>
        <th scope="col">VENTAS</th>
        <th scope="col" class="text-center">ACCIONES</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let u of list">
        <th scope="row" class="text-end">{{ u.id }}</th>
        <td>{{ u.username }}</td>
        <td>{{ u.email }}</td>
        <td>&#64;mdo</td>
        <td>&#64;mdo</td>
        <td class="text-center"><button class="btn btn-warning" (click)="go(u.id)">VER</button></td>
      </tr><tr *ngIf="list.length<=0">
        <th scope="row" class="text-end" colspan="6"> Sin datos</th>
      </tr>
      </tbody>
    </table>
  </div>

  <div >
    <ul class="pagination justify-content-center ">
      <li class="page-item ">
        <button class="page-link btn-border-orange text-black" (click)="charge(page-1)">Previous</button></li>
      <li class="page-item " *ngFor="let p of pages; ">
        <button class="page-link " (click)="charge(p)"
                [ngClass]="p == page ? 'bg-orange-low button-orange text-white':'button-orange text-black'"
        >{{ p+1 }}</button></li>
      <li class="page-item ">
        <button class="page-link btn-border-orange text-black" (click)="charge(page+1)">Next</button></li>
    </ul>
  </div>
</div>
<!--<div>{{form.value|json}}</div>-->
