

<ng-container *ngIf="!notfound; else notFoundT">
  <div class="d-flex justify-content-between gap-1 p-2
    bg-secondary-subtle rounded-3 rounded-top-0 sticky-controls z-1">

    <ng-container *ngIf="!isPut; else elseControl">
      <h1 class="text-center me-auto"> NUEVA OBRA </h1>

      <button class="btn btn-sm btn-warning m-2 bi bi-pencil" [disabled]="!draftDirty"
              (click)="onSubmit(true)"> GUARDAR BORRADOR</button>
      <button class="btn btn-primary bi bi-check-lg" [disabled]="form.invalid"
              (click)="onSubmit(false)"> PUBLICAR</button>
    </ng-container>

    <ng-template #elseControl>
      <h1 class="text-center me-auto"> EDITAR OBRA</h1>

      <button type="submit" class="btn btn-primary bi bi-pencil" [disabled]="form.invalid"
              (click)="onSubmit(false)">GUARDAR</button>
    </ng-template>
  </div>



  <div class="container mt-4 p-2 rounded-5 border-gradient">
    <form [formGroup]="form" class="row g-3 justify-content-center p-3">
      <div class="col-md-6 col-12">
        <div class="mb-2">
          <label for="nameInput" class="form-label h5">Nombre</label>
          <input type="text" formControlName="name" class="form-control" id="nameInput"
                 [class.is-invalid]="(form.controls['name'].touched || form.controls['name'].dirty)
      && form.controls['name'].invalid">
          <div class="invalid-feedback" *ngIf="(form.controls['name'].touched || form.controls['name'].dirty)
      && form.controls['name'].hasError('required')">
            El nombre es requerido.
          </div>
          <div class="invalid-feedback" *ngIf="(form.controls['name'].touched || form.controls['name'].dirty)
      && form.controls['name'].hasError('maxlength')">
            El nombre no puede superar los 100 caracteres.
          </div>
        </div>

        <div class="mb-3">
          <label for="descriptionInput" class="form-label h5">Descripcion</label>
          <textarea class="form-control" id="descriptionInput" rows="3"
                    formControlName="description" [class.is-invalid]="(form.controls['description'].touched
                  || form.controls['description'].dirty) && form.controls['description'].invalid"></textarea>
          <div class="invalid-feedback"
               *ngIf="(form.controls['description'].touched || form.controls['description'].dirty)">
            <ng-container *ngIf="form.controls['description'].hasError('required')">
              La descripcion es requerida.
            </ng-container>
            <ng-container *ngIf="form.controls['description'].hasError('maxlength')">
              No debe superar los 500 caracteres.
            </ng-container>
          </div>
          <div class="form-text fst-italic">Puedes agregar tags en la descripción con el simbolo '#' </div>

        </div>

        <div class="row g-3 my-3">
          <div class="col-auto col-xl-6 row">
            <div class="col-auto ">
              <label for="typeInput" class="col-form-label">Tipo:</label>
            </div>
            <div class="col-auto">
              <select class="form-select" id="typeInput" style="width: 10rem;"
                      formControlName="type" [class.is-invalid]="(form.controls['type'].touched
                  || form.controls['type'].dirty) && form.controls['type'].invalid">
                <option value="" selected hidden>-Seleccionar-</option>
                <option value="ARTE">Cientifico</option>
                <option value="CIENCIA">Artistico</option>
                <option value="TECNOLOGIA">Artistico</option>
                <option value="OTRO">Otro</option>
              </select>
              <div class="invalid-feedback"   style="width: 10rem;"
                   *ngIf="(form.controls['type'].touched || form.controls['type'].dirty)
      && form.controls['type'].hasError('required')">
                El tipo de obra es requerido.
              </div>
            </div>
          </div>

          <div class="col-auto col-xl-6 row">
            <div class="col-auto">
              <label for="difficultyInput" class="col-form-label">Dificultad:</label>
            </div>
            <div class="col-auto ">
              <select class="form-select" id="difficultyInput"  style="width: 10rem;"
                      formControlName="difficulty" [class.is-invalid]="(form.controls['difficulty'].touched
                  || form.controls['difficulty'].dirty) && form.controls['difficulty'].invalid">
                <option value="" selected hidden>-Seleccionar-</option>
                <option value="1">Facil</option>
                <option value="2">Normal</option>
                <option value="3">Dificil</option>
                <option value="4">Muy Dificil</option>
              </select>
              <div class="invalid-feedback"   style="width: 10rem;"
                   *ngIf="(form.controls['difficulty'].touched || form.controls['difficulty'].dirty)
      && form.controls['difficulty'].hasError('required')">
                El nivel de dificultad de la obra es requerido.
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-8 col-12">
        <div class="rounded-2 border-orange border-5" #img1>
          <!--        <img [src]="pubImages[0].url " class=" w-100 p-1"-->
          <!--             [alt]="pubImages[0].url" *ngIf="pubImages.length>0">-->
          <div id="carouselExample" class="carousel slide rounded-2 p-1"
               *ngIf="pubImages.length>0 || video">
            <div class="carousel-inner">
              <div class="carousel-item text-center align-content-center"  style="height: 30rem"
                   *ngFor="let p of pubImages; index as i" [class.active]="i==0">
                <img [src]="p.url || 'assets/camera.png'"
                     class="w-100"
                     style="object-fit: contain; max-height: 100%; max-width: 100%">
              </div>
              <div class="carousel-item justify-content-center align-content-center"
                   *ngIf="video" [class.active]="pubImages.length<=0"  style="height: 30rem; padding: 0 25px ;">
                <div>
                  <youtube-player #youTubePlayer
                                  [videoId]="video"
                                  [width]="(img1?.clientWidth||50)-50"
                                  [height]="img1?.clientWidth||50">
                  </youtube-player>
                </div>
              </div>
            </div>

            <ng-container *ngIf="pubImages.length>1 || (pubImages.length>0 && video)">
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="bi-caret-left-fill text-black fs-1" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="bi-caret-right-fill text-black fs-1" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </ng-container>
          </div>
          <!--        <video class="video-js vjs-default-skin" controls *ngIf="this.form.get('video')?.value!=''"-->
          <!--               data-setup='{ "aspectRatio":"1:1" }'>-->
          <!--          <source [src]="this.form.get('video')?.value" type='video/mp4' />-->
          <!--&lt;!&ndash;          <source [src]="this.form.get('video')?.value" type='video/webm' />&ndash;&gt;-->
          <!--        </video>-->


          <button class="text-center w-100 btn btn-border-white bg-white"
                  data-bs-toggle="modal" data-bs-target="#exampleModal">

            <img src="assets/camera.png" class=" w-100 p-1"
                 alt="assets/camera.png" *ngIf="pubImages.length<=0 && !video">
            + Agregar o Cambiar Foto/Video
            <span class="text-danger" *ngIf="pubImages.length<=0 && !video">(Minimo 1 requerida)</span>
          </button>


        </div>
      </div>

      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Seleccionar imagen/video</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
              <label for="formFile" class="form-label">Imagenes</label>
              <input class="form-control form-control-sm col mb-1" type="file" id="formFile"
                     accept="image/png, image/jpeg" multiple
                     (change)="selectPubImages($event)">
              <div class="form-text">Formatos: jpeg, png</div>
              <div class="form-text">Se recomienda que sea en formato vertical o 1x1.</div>
              <br>
              <label for="formFile" class="form-label">Video</label>
              <input class="form-control col" placeholder="URL del video"
                     formControlName="video" type="text"
                     (change)="changeVideo($event)">
              <div class="form-text">Formato: URL de Youtube</div>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 rounded-3 bg-secondary-subtle border-2"
           [ngClass]="{'border-orange':!showConditions,'btn-border-orange':showConditions}">
        <div class="d-flex justify-content-between mb-1" data-bs-toggle="collapse" style="cursor: pointer"
             href="#collapseConditions" (click)="showConditions = !showConditions">
          <div class="col">
            <div class="fw-bold fs-5">Condiciones (Opcional)</div>
            Consideraciones o medidas a tener en cuenta al intentar replicar o manejar la obra, como seguridad.
          </div>
          <i class="col-auto bi  fs-2"
             [ngClass]="{'bi-caret-left-fill':showConditions,'bi-caret-down-fill':!showConditions}"></i>
        </div>
        <div class="collapse" id="collapseConditions" formArrayName="conditions">
          <div *ngFor="let d of detailsConditions.controls; index as i" [formGroupName]="i" class=" mb-3" >

            <div  class="d-flex is-invalid">
              <button class="btn btn-danger me-1 col-auto" (click)="removeDetailCondition(i)">
                <i class="bi bi-trash-fill"></i></button>

              <input type="text" class="form-control col" formControlName="text"
                     [placeholder]="'Condicion '+(i+1)"
                     [class.is-invalid]="d.get('text')?.invalid
               && (d.get('text')?.dirty || d.get('text')?.touched)"></div>

            <div class="invalid-feedback"
                 *ngIf="d.get('text')?.invalid
                     && (d.get('text')?.dirty || d.get('text')?.touched)">
              <ng-container *ngIf="d.get('text')?.hasError('required')">
                Es requerido (Completar o eliminar)
              </ng-container>
              <ng-container *ngIf="d.get('text')?.hasError('maxlength')">
                No debe superar los 500 caracteres.
              </ng-container>
            </div>

          </div>
          <button class="btn btn-warning mb-2 w-100" (click)="addDetailCondition()"> + Agregar Condicion</button>

        </div>
      </div>
      <div class="col-12 rounded-3 bg-secondary-subtle border-2"
           [ngClass]="{'border-orange':!showMaterials,'btn-border-orange':showMaterials}">
        <div class="d-flex justify-content-between mb-1" data-bs-toggle="collapse" style="cursor: pointer"
             href="#collapseMaterials" (click)="showMaterials = !showMaterials">
          <div class="col">
            <div class="fw-bold fs-5">
              Materiales (Opcional)</div>
            Herramientas e insumos usados para la creación/fabricación.
          </div>
          <i class="col-auto bi  fs-2"
             [ngClass]="{'bi-caret-left-fill':showMaterials,'bi-caret-down-fill':!showMaterials}"></i>
        </div>
        <div class="collapse" id="collapseMaterials" formArrayName="materials">
          <div *ngFor="let d of detailsMaterials.controls; index as i" [formGroupName]="i" class=" mb-3" >

            <div  class="d-flex is-invalid">
              <button class="btn btn-danger me-1 col-auto" (click)="removeDetailMaterials(i)">
                <i class="bi bi-trash-fill"></i></button>

              <input type="text" class="form-control col" formControlName="text"
                     [placeholder]="'Material '+(i+1)"
                     [class.is-invalid]="d.get('text')?.invalid
               && (d.get('text')?.dirty || d.get('text')?.touched)"></div>


            <div class="invalid-feedback" *ngIf="d.get('text')?.invalid
                     && (d.get('text')?.dirty || d.get('text')?.touched)">
              <ng-container *ngIf="d.get('text')?.hasError('required')">
                Es requerido (Completar o eliminar)
              </ng-container>
              <ng-container *ngIf="d.get('text')?.hasError('maxlength')">
                No debe superar los 500 caracteres.
              </ng-container>
            </div>

          </div>
          <button class="btn btn-warning mb-2 w-100" (click)="addDetailMaterials()"> + Agregar Material</button>

        </div>
      </div>

      <div class="col-12 rounded-3 bg-secondary-subtle border-2"
           [ngClass]="{'border-orange':!showSteps,'btn-border-orange':showSteps}">
        <div class="d-flex justify-content-between mb-1" data-bs-toggle="collapse" style="cursor: pointer"
             href="#collapseSteps" (click)="showSteps = !showSteps">
          <div class="col">
            <div class="fw-bold fs-5">
              Pasos (Opcional)</div>
            Pasos a seguir para recrear o replicar la obra (puede incluir imágenes).
          </div>
          <i class="col-auto bi  fs-2"
             [ngClass]="{'bi-caret-left-fill':showSteps,'bi-caret-down-fill':!showSteps}"></i>
        </div>
        <div class="collapse" id="collapseSteps" formArrayName="steps">
          <div *ngFor="let d of detailsSteps.controls; index as i" [formGroupName]="i"
               class="mx-3 mb-3 is-invalid rounded-2 border-orange p-1">


            <div class="list-group">
              <div class="row m-0 justify-content-start mb-1">
                <div class="col-auto p-1 rounded-2 bg-orange text-white border-orange fw-bold
                d-flex me-1">
<!--                  PASO {{i+1}}-->
                  <label class="align-content-center me-1 ">PASO </label>
                  <input class="form-control form-control-sm"  type="number" style="min-width: 50px; max-width: 100px"
                         [value]="i+1" min="1" [id]="'num'+i" (change)="moveDetailsStepsValue(i, $event)">
                </div>

<!--                <input class="d-none" type="file" [id]="'file'+i"-->
<!--                       (change)="selectStepFile($event, i)"-->
<!--                       formControlName="image" accept="image/png, image/jpeg" >-->
<!--                <label class="col-auto me-1 btn btn-primary py-2" [for]="'file'+i">-->
<!--                  <i class="bi bi-image "></i>-->
<!--                </label>-->
<!--                <button class="col-auto me-auto  btn btn-primary "-->
<!--                        (click)="document.getElementById('file'+i)?.click()">-->
<!--                  <i class="bi bi-image"></i>-->
<!--                </button>-->

                <button class="col-auto me-1 btn btn-danger "
                        (click)="moveDetailsSteps(i,-1)" [disabled]="!(i>0)">
                  <i class="bi bi-arrow-up"></i>
                </button>
                <button class="col-auto me-1 btn btn-danger"
                        (click)="moveDetailsSteps(i,1)" [disabled]="!(i<detailsSteps.controls.length-1)">
                  <i class="bi bi-arrow-down"></i>
                </button>
                <button class="col-auto ms-auto btn btn-danger"
                        (click)="removeDetailsSteps(i)">
                  <i class="bi bi-trash-fill"></i>
                </button>

              </div>


              <div class="mb-1">
                <textarea class="form-control"
                          formControlName="text" placeholder="..."
                          [class.is-invalid]="d.get('text')?.invalid
               && (d.get('text')?.dirty || d.get('text')?.touched)"></textarea>
                <!--            <input type="text" class="form-control col" formControlName="text"-->
                <!--                   [placeholder]="'Material '+(i+1)"-->
                <!--                   [class.is-invalid]="d.get('text')?.invalid-->
                <!--               && (d.get('text')?.dirty || d.get('text')?.touched)">-->
                <div class="invalid-feedback" *ngIf="d.get('text')?.invalid
                     && (d.get('text')?.dirty || d.get('text')?.touched)">
                  <ng-container *ngIf="d.get('text')?.hasError('required')">
                    Es requerido (Completar o eliminar)
                  </ng-container>
                  <ng-container *ngIf="d.get('text')?.hasError('maxlength')">
                    No debe superar los 500 caracteres.
                  </ng-container>
                </div>
              </div>

              <input class="d-none" type="file" [id]="'file'+i"
                     (change)="selectStepFile($event, i)"
                     formControlName="image" accept="image/png, image/jpeg" >
              <div class="d-flex justify-content-center" *ngIf="!stepImages[i].url">
                <label class="btn btn-primary" [for]="'file'+i">
                  <i class="bi bi-image "></i> Agregar Imagen
                </label>
              </div>
              <div class="position-relative d-flex justify-content-center"
                   *ngIf="stepImages[i].url">
                <img [src]="stepImages[i].url" class="rounded-2 " style="max-width: 100%">
                <button class="btn btn-primary bi bi-x-lg position-absolute top-0 end-0"
                        (click)="selectStepFile($event, i)"></button>

                <label class="btn btn-primary position-absolute top-0 start-0" [for]="'file'+i">
                  <i class="bi bi-image "></i><span class="d-none d-sm-inline"> Cambiar Imagen</span>
                </label>
              </div>

            </div>

          </div>
          <button class="btn btn-warning mb-2 w-100" (click)="addDetailsSteps()"> + Agregar Paso</button>
        </div>
      </div>

      <div class="col-12 rounded-3 bg-secondary-subtle border-2"
           [ngClass]="{'border-orange':!showPurchasedata,'btn-border-orange':showPurchasedata}">
        <div class="d-flex justify-content-between mb-1" data-bs-toggle="collapse" style="cursor: pointer"
             href="#collapsePurchasedata" (click)="showPurchasedata = !showPurchasedata">
          <div class="col">
            <div class="fw-bold fs-5">
              Datos de venta (Opcional)
            </div>
            En caso de que desee vender la obra, debe incluir monto inicial y precio unitario
            (También debe tener registrados sus datos de compra/venta).
          </div>
          <i class="col-auto bi fs-2"
             [ngClass]="{'bi-caret-left-fill':showPurchasedata,'bi-caret-down-fill':!showPurchasedata}"></i>
        </div>
        <div class="collapse" id="collapsePurchasedata">
          <div class="rounded-2 border bg-body-tertiary p-2 mb-2">

            <div class="row gap-2 align-items-center justify-content-center">
              <div class="col-auto row align-items-center">
                <div class="col-auto pe-0">
                  <input type="checkbox" class="btn-check" id="exampleCheck1" formControlName="canSold">
                  <label class="btn btn-sm" for="exampleCheck1"
                         [class.btn-secondary]="!form.controls['canSold'].value"
                         [class.btn-primary]="form.controls['canSold'].value">
                    <i class="bi" [ngClass]="{'bi-x-lg':!form.controls['canSold'].value,
              ' bi-check-lg':form.controls['canSold'].value}"></i>
                  </label>
                </div>
                <div class="col-auto">Esta a la venta</div>
              </div>

              <div class="col-auto d-none d-md-block">|</div>
              <br class="d-md-none">

              <div class="col-auto row align-items-center">
                <div class="col-auto">
                  <label class="form-check-label" for="inputPrice"
                         [class.text-decoration-line-through]="!form.controls['canSold'].value">Precio: </label>
                </div>
                <div class="col-auto">
                  <div class="input-group">
                  <span class="input-group-text "
                      [class.btn-secondary]="!form.controls['canSold'].value"
                      [class.btn-primary]="form.controls['canSold'].value">$</span>
                    <input type="number" class="form-control bg-orange-low" id="inputPrice"
                           formControlName="price" min="1">
                  </div>
                </div>
              </div>
              <div class="col-auto row align-items-center">
                <div class="col-auto">
                  <label class="form-check-label" for="inputCount"
                         [class.text-decoration-line-through]="!form.controls['canSold'].value">Cantidad:</label>
                </div>
                <div class="col-auto">
                  <input type="number" class="form-control bg-orange-low" id="inputCount"
                         formControlName="count" min="1">
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</ng-container>

<ng-template #notFoundT>
  <div class="text-center text-break h1 w-100">
    NO SE ENCONTRÓ LA PUBLICACIÓN
  </div>
</ng-template>
<div>{{form.value|json}}</div>
