
<div class="container mb-4">
  <div class="h1 w-100 text-center">Estadisticas de Ventas</div>

  <div class="row m-0 w-100 justify-content-center mb-2 row-gap-1">
    <div class="col-3 col-sm-auto text-end">
      <label for="firstDate" class="col-form-label">De </label>
    </div>
    <div class="col-6 me-3 me-sm-0  col-sm-auto">
      <input type="date" id="firstDate" class="form-control" aria-describedby="passwordHelpInline"
             name="firstDate" [min]="minDate" [max]="lastDate" (change)="onChange()"
             [(ngModel)]="firstDate" >
    </div>
    <div class="col-3 col-sm-auto text-end">
      <label for="lastDate" class="col-form-label"> A </label>
    </div>
    <div class="col-6 me-3 me-sm-0 col-sm-auto">
      <input type="date" id="lastDate" class="form-control" aria-describedby="passwordHelpInline"
             name="lastDate" [min]="firstDate" [max]="maxDate" (change)="onChange()"
             [(ngModel)]="lastDate">
    </div>
    <div class="col-12 d-xl-none"></div>
    <div class="col-sm-auto w-auto text-center align-content-center pe-0">Tipo de publicación:</div>
    <div class="col-sm-auto text-end" style="max-width: 12rem">
      <select class="form-select bg-secondary text-white" id="type"
              [(ngModel)]="type" (change)="onChange()">
        <option selected value="NONE">TODAS</option>
        <option value="ARTE">ARTE</option>
        <option value="CIENCIA">CIENCIA</option>
        <option value="TECNOLOGIA">TECNOLOGIA</option>
        <option value="OTRO">OTRO</option>
      </select>
    </div>
    <div class="col-sm-auto text-center">
      <button class="btn btn-primary" (click)="charge()">GENERAR</button>
    </div>
  </div>

  <div class="card bg-body-tertiary">
    <div class="h5 text-center border border-bottom p-4">
      Cantidad de Ventas de las semanas de {{ this.firstDate| date:"d/MM/yyyy" }} a {{ this.lastDate| date:"d/MM/yyyy" }}
    </div>
    <div class="overflow-x-auto">
      <div echarts [options]="options"
           [theme]="service.coolTheme"
           class="demo-chart"
           *ngIf="nodata=='n'"></div>
      <div class="h2 fst-italic w-100 text-center"
           *ngIf="nodata=='y'"> Sin Datos</div>
      <div class="h2 fst-italic w-100 text-center"
           *ngIf="nodata=='c'"> Cargando...</div>
    </div>
    <div class="h5 text-center border border-bottom p-4">
      Total de Ventas de las semanas de {{ this.firstDate| date:"d/MM/yyyy" }} a {{ this.lastDate| date:"d/MM/yyyy" }}
    </div>
    <div class="overflow-x-auto">
      <div echarts [options]="options2"
           [theme]="service.coolTheme"
           class="demo-chart"
           *ngIf="nodata=='n'"></div>
      <div class="h2 fst-italic w-100 text-center"
           *ngIf="nodata=='y'"> Sin Datos</div>
      <div class="h2 fst-italic w-100 text-center"
           *ngIf="nodata=='c'"> Cargando...</div>
    </div>
  </div>
</div>
