<div class="container">
  <h1 class="h1 text-center">Carrito</h1>

  <div class="p-3 column-gap-2 rounded-2 ">
    <div class="p-1"
         *ngIf="list.length<=0">
      <h2 class="text-center rounded-5 bg-secondary-subtle p-2"> Sin obras en el carrito</h2>
    </div>
    <div class="row"
         *ngIf="list.length>0">
      <div class="col-8">
        <div class="row align-items-stretch border-5 border-orange rounded-5 p-2
        bg-secondary-subtle mb-2" *ngFor="let c of list; index as i">
          <div class="col-sm-auto col-6 img-stat-container text-center">
            <img class="rounded-2" [src]="c.imageUrl" [alt]="c.imageUrl" style="height: 5rem;">
          </div>
          <div class="col-sm col-6">
            <div>
              <span class="fw-bold">Precio:</span> ${{c.price || 0}}
            </div>
            <div class="d-md-flex align-items-center">
              <div class="col-auto fw-bold">
                Unidades:&nbsp;
              </div>
              <div class="col-sm d-flex">
                <input class="form-control form-control-sm" type="number"
                       style="min-width: 50px"
                       [(ngModel)]="listCounts[i]" min="1">
                <div *ngIf="listCounts[i]!=c.selectedCount">
                  <button class="btn btn-secondary bi bi-check" (click)="update(listCounts[i],c)"></button>
                  <button class="btn btn-secondary" (click)="notupdate(i,c)">X</button>
                </div>
              </div>
              <div class="col-auto">
                &nbsp;de {{c.count || 0}} disponibles
              </div>
            </div>

          </div>
          <div class="col-sm-auto ">
            <button class="btn btn-danger w-100 h-100" (click)="remove(c)">X</button>
          </div>
        </div>
      </div>
      <div class="col-4 ">
        <div class="rounded-2 border-5 border-orange bg-secondary-subtle p-2">
          <div >
            Total: <span class="fw-bold">{{total}}</span>
          </div>
          <div class="text-center">
            <button class="btn btn-primary">
              Comprar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
