<div class="container border-gradient my-4 p-3">
  <h1 class="text-center"> Preguntas Frecuentes </h1>

  <div class="bg-light rounded-3 mb-1">
    <div class="fs-5 text-black btn d-flex justify-content-between"
       data-bs-toggle="collapse" href="#answer1">
      ¿Cómo me creo una cuenta?
      <i class="bi bi-caret-down-fill"></i>
    </div>
    <div class="collapse p-2" id="answer1">
      Para crear una cuenta solo tiene que acceder a la pagina de registro, agregar sus datos solicitados
      (nombre de usuario, email y contraseña) y aceptar
      los términos y condiciones de la pagina.
      <br>
      <br>
      <div class="fs-5 bg-secondary-subtle text-secondary btn w-100"
           data-bs-toggle="collapse" href="#answer1">
        <i class="bi bi-caret-up-fill"></i>
      </div>
    </div>

  </div>

  <div class="bg-light rounded-3 mb-1">
    <div class="fs-5 text-black btn d-flex justify-content-between"
         data-bs-toggle="collapse" href="#answer2">
      ¿Cómo busco una obra publicada?
      <i class="bi bi-caret-down-fill"></i>
    </div>
    <div class="collapse p-2" id="answer2">
      Para encontrar una obra en particular, puede poner el nombre o parte del nombre en el buscador para listar
      la obras relacionadas.<br>
      Si desea mejorar la búsqueda, en el mismo buscador puede incluir:
      <ul>
        <li>El usuario del autor que publico la obra (ejemplo: &commat;user1).</li>
        <li>Tags o etiquetas para buscar un tópico o tema específico (ejemplo: #woods).</li>
      </ul>

      También puede completar con los filtros:
      <ul>
        <li>Materiales: materiales usados, los cuales deben estar separados por comas (ejemplo: madera, acero).</li>
        <li>Tipo de obra: si es científica, tecnológica, artística u otro tipo.</li>
        <li>Dificultad: la dificultad mínima y máxima.</li>
        <li>Puntuación minima: puntuación minima que posee la obra.</li>
      </ul>

      <div class="fs-5 bg-secondary-subtle text-secondary btn w-100"
           data-bs-toggle="collapse" href="#answer2">
        <i class="bi bi-caret-up-fill"></i>
      </div>
    </div>

  </div>

  <div class="bg-light rounded-3 mb-1">
    <div class="fs-5 text-black btn d-flex justify-content-between"
         data-bs-toggle="collapse" href="#answer3">
      ¿Cómo compro una obra en venta?
      <i class="bi bi-caret-down-fill"></i>
    </div>
    <div class="collapse p-2" id="answer3">
      Para comprar una obra tiene dos opciones:
      <br>
      <br>
      <div class="fw-bold">Comprar una obra directamente</div>
      Simplemente vaya a la publicación de una obra, y si esta a la venta, apriete el botón comprar.
      También puede especificar una cantidad a comprar.
      <br>
      <br>
      Al hacerlo, se le abrirá la pestaña de pago, para seleccionar el método de pago.
      <br>
      <br>
      Una vez completado el pago, podrá revisar su compra en la pestaña de compras.
      <br>
      <br>
      <div class="fw-bold">Comprar desde el carrito</div>
      En caso de querer agregar la obra al carrito, puede apretar el botón agregar al carrito
      (con la cantidad a comprar especificada).
      <br>
      <br>
      Luego, revise las obras agregadas al carrito, apriete el botón comprar y a
      partir de aquí prosiga como una compra normal.
      <br>
      <br>

      <div class="fs-5 bg-secondary-subtle text-secondary btn w-100" data-bs-toggle="collapse" href="#answer3">
        <i class="bi bi-caret-up-fill"></i>
      </div>
    </div>

  </div>

  <div class="bg-light rounded-3 mb-1">
    <div class="fs-5 text-black btn d-flex justify-content-between"
         data-bs-toggle="collapse" href="#answer4">
      ¿Cómo publico mi obra?
      <i class="bi bi-caret-down-fill"></i>
    </div>
    <div class="collapse p-2" id="answer4">
      Para publicar una obra solo tiene que ir a la pagina de nueva publicación y completar los datos
      <br>
      <br>
      <div class="fw-bold">1.Nombre, descripción y tags</div>
      Comience con un *título llamativo, agregue una *descripción de lo que es su obra,
      y en la misma descripción agregue *tags con el &num;.
      <br>
      <br>
      <div class="fw-bold">2.Imágenes y videos</div>
      Luego, puede agregar *fotos y un *video (enlace a youtube) para mostrar el aspecto de su obra.
      <br>
      <br>
      <div class="fst-italic">Los siguientes pasos son solo para aquellos que quieran compartir el proceso
        o metodología de creación de su obra, no son obligatorios.</div>
      <br>
      <div class="fw-bold">3.Condiciones</div>
      Por seguridad, puede (y debería) agregar aspectos a tomar en cuenta a la hora de manejar o fabricar la obra,
      para cuidar la salud de la comunidad.
      <br>
      <br>
      <div class="fw-bold">4.Materiales</div>
      Puede incluir los materiales, herramientas y demás que se utilizaron. Tenga en cuenta que
      incluir los materiales ayudara a que su obra aparezca más en las búsquedas.
      <br>
      <br>
      <div class="fw-bold">5.Pasos de fabricación</div>
      Si lo desea, puede enseñar paso por paso la fabricación de la obra. También puede incluir fotos para cada paso
      para ilustrar mejor el proceso.
      <br>
      <br>
      <div class="fw-bold">6.Datos de venta <span class="fst-italic">(solo para aquellos que tengan completos sus datos
        personales).</span></div>
      Si quiere vender su obra, el autor debe tildar la opción "Esta a la venta" y completar los datos
      precio y cantidad.

      <br>
      <br>

      <div class="fs-5 bg-secondary-subtle text-secondary btn w-100" data-bs-toggle="collapse" href="#answer4">
        <i class="bi bi-caret-up-fill"></i>
      </div>
    </div>

  </div>

</div>
