<div class="d-flex justify-content-between p-2">
  <button class="btn btn-warning border-black border-3" data-bs-dismiss="modal" aria-label="Close" #close>
    CANCELAR
  </button>
  <button class="btn btn-primary border-black border-3" (click)="update()">GUARDAR</button>
</div>
<div class="border-5 border-orange rounded-5 p-3 bg-secondary-subtle">
  <div class="h5">
    N°{{delivery?.id}}
  </div>
  <div class="d-flex mb-2">
    <div class="col">
      <div class="mb-1 p-1">
        Fecha de venta: <span class="text-secondary">{{delivery?.saleDateTime | date:"dd/MM/yyyy hh:mm:ss"}}</span>
      </div>
      <div class="mb-1 p-1">
        Comprador: <span class="text-secondary text-capitalize">{{delivery?.name}}</span>
      </div>
      <div class="mb-1 p-1">
        Direccion de entrega: <span class="text-secondary text-capitalize">{{delivery?.direction}}</span>
      </div>
      <div class="mb-1 p-1">
        Telefono: <span class="text-secondary">{{delivery?.phone}}</span>
      </div>
    </div>
    <div class="col-auto p-0" >
      <div class="d-flex align-items-center ">
        <div class="col-auto">
          Estado:&nbsp;
        </div>
        <div class="col">
          <select class="p-2 w-100 rounded-2 border text-uppercase text-center" [class]="stateClasses(state||'')"
                  [(ngModel)]="state">
            <option [value]="state" selected hidden="">{{ state }}</option>
            <option value="ENTREGADO" >ENTREGADO</option>
            <option value="CANCELADA">CANCELADA</option>
            <option value="PERCANCE" >PERCANCE</option>
            <option value="PENDIENTE">PENDIENTE</option>
          </select>
        </div>
      </div>
      <div class="py-1">
        Fecha de entrega:&nbsp;
        <span class="text-secondary">{{(delivery?.deliveryDateTime | date:"dd/MM/yyyy hh:mm:ss") || "--"}}</span>
      </div>
      <div class="d-flex align-items-center ">
      <div class="col-auto">
        Repartidor:&nbsp;
      </div>
        <div class="col">
          <select class="p-2 w-100 rounded-2 border bg-secondary text-uppercase text-white text-center"
                  [(ngModel)]="dealer">
            <option [value]="dealer" hidden selected>{{ dealerDefaultName}}</option>
            <option *ngFor="let d of dealers" [value]="d.id">{{d.name+" "+d.lastname}}</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="p-1 border-top border-secondary border-2">
    <div *ngFor="let d of delivery?.details" class=" rounded rounded-4 border-5 border-orange d-flex">
      <div class="col-auto p-1">
        <img [src]="d.imageUrl" class="rounded rounded-3 border-3 border-orange" style="width: 100px; height: 100px">
      </div>
      <div class="col-5 row p-2 align-items-center">
        <div class="p-1">Obra: <span class="text-secondary">{{d.name}}</span></div>
        <div class="p-1">Cantidad: <span class="text-secondary ">{{d.count}}</span></div>
        <div class="p-1">Total: <span class="text-secondary">${{d.total}}</span></div>
      </div>
      <div class="col-5 row p-2 align-items-center">
        <div class="p-1">Vendedor: <span class="text-secondary text-capitalize">{{d.sellername}}</span></div>
        <div class="p-1">Direccion de retiro: <span class="text-secondary text-capitalize">{{d.direction}}</span></div>
        <div class="p-1">Telefono: <span class="text-secondary">${{d.phone}}</span></div>
      </div>
    </div>
  </div>
</div>

