<div class="container mt-4 p-2 bg-light border-gradient middle-body" style="max-width: 25rem">
  <h2 class="text-center mb-2 text-uppercase space-text">Regístrate</h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="d-flex flex-column row-gap-2 p-2">
    <div class="input-float">
      <label for="nameInput">Nombre de usuario</label>
      <input type="text" formControlName="name" id="nameInput" placeholder=""
             [class.is-invalid]="(form.controls['name'].touched || form.controls['name'].dirty)
              && form.controls['name'].invalid">

      <ng-container *ngIf="(form.controls['name'].touched || form.controls['name'].dirty)">
<!--        <div class="invalid-feedback" *ngIf="form.controls['name'].hasError('required')">-->
<!--          El nombre es requerido.-->
<!--        </div>-->
        <div class="invalid-feedback" *ngIf="form.controls['name'].hasError('maxlength')">
          El nombre no puede superar los 50 caracteres.
        </div>
        <div class="invalid-feedback" *ngIf="form.controls['name'].hasError('pattern')">
          No puede incluir caracteres especiales (excepto por _).
        </div>
        <div class="text-danger" style="font-size: .875em" *ngIf="!tips.okName">
          Nombre usado
        </div>
      </ng-container>

    </div>

    <div class="input-float">
      <label for="emailInput" class="form-label">Email</label>
      <input type="text" formControlName="email" id="emailInput" placeholder=""
             [class.is-invalid]="(form.controls['email'].touched || form.controls['email'].dirty)
            && form.controls['email'].invalid">

      <ng-container *ngIf="(form.controls['email'].touched || form.controls['email'].dirty)">
<!--        <div class="invalid-feedback" *ngIf="form.controls['email'].hasError('required')">-->
<!--          El email es requerido.-->
<!--        </div>-->
        <div class="invalid-feedback" *ngIf="form.controls['email'].hasError('email')">
          El email es invalido.
        </div>
        <div class="text-danger" style="font-size: .875em" *ngIf="!tips.okEmail">
          Email usado
        </div>
      </ng-container>
    </div>

    <div class="input-float">
      <label for="passwordInput">Contraseña</label>
      <input type="password" formControlName="password" id="passwordInput" placeholder=""
             [class.is-invalid]="(form.controls['password'].touched || form.controls['password'].dirty)
      && form.controls['password'].invalid">

      <ng-container *ngIf="(form.controls['password'].touched || form.controls['password'].dirty)">
        <div style="font-size: .875em" *ngIf="form.controls['password'].valid" class="mt-1"
             [ngSwitch]="tips.points">
          <span *ngSwitchDefault class="text-success bi bi-check-circle"> Contraseña Fuerte</span>
          <span *ngSwitchCase="2" class="text-warning-emphasis bi bi-dash-circle"> Contraseña Normal</span>
          <span *ngSwitchCase="1" class="text-danger fst-italic bi bi-x-circle"> Contraseña Debil (Mezcla mayúsculas, minúsculas y números para mejorarla)</span>
          <span *ngSwitchCase="0">Verificando...</span>
        </div>
        <div class="invalid-feedback" *ngIf="form.controls['password'].hasError('maxlength')">
          La contraseña no puede superar los 50 caracteres.
        </div>
        <div class="invalid-feedback" *ngIf="form.controls['password'].hasError('pattern') &&
                     !form.controls['password'].hasError('minlength')">
          La contraseña no puede tener espacios.
        </div>
        <div class="invalid-feedback" *ngIf="form.controls['password'].hasError('minlength')">
          La contraseña no puede tener menos los 8 caracteres.
        </div>
      </ng-container>
    </div>

    <div class="input-float">
      <label for="passwordInput2">Repetir Contraseña</label>
      <input type="password" formControlName="password2" id="passwordInput2" placeholder=""
             [class.is-invalid]="(form.controls['password2'].touched || form.controls['password2'].dirty)
      && form.controls['password2'].invalid">
      <ng-container *ngIf="(form.controls['password2'].touched || form.controls['password2'].dirty)">
        <div class="text-danger" style="font-size: .875em" *ngIf="form.hasError('notSame')">
          La contraseña debe coincidir.
        </div>
      </ng-container>
    </div>

    <div>
      <input type="checkbox" class="btn-check" id="btn-check" formControlName="terms">
      <label class="btn btn-secondary me-2 btn-sm" for="btn-check">
        <i class="bi " [class.bi-x-lg]="!form.get('terms')?.value"></i>
        <i class="bi " [class.bi-check-lg]="form.get('terms')?.value"></i>
      </label>
      <label for="btn-check">
        Aceptas los <a routerLink="/terms" class="text-danger">términos y condiciones</a>.
      </label>
    </div>

    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-primary"
              [disabled]="form.invalid || !tips.okEmail || !tips.okName || service.loading">
        <span class="spinner-border spinner-border-sm" *ngIf="form.valid && service.loading"></span>
        CREAR CUENTA
      </button>
    </div>

    <div class="d-flex justify-content-center gap-1">
      <span class="align-self-center">¿Ya tenes cuenta?</span>
      <button type="button" class="btn btn-warning" (click)="exit()">INICIAR SECION</button>
    </div>
  </form>
</div>
