<nav class="navbar navbar-expand-sm bg-red-orange fixed-top" style="min-height: 56px">
  <div class="container-fluid">
    <button class="btn btn-outline-light me-1" data-bs-toggle="offcanvas"
            href="#sideBar"
            aria-controls="sideBar" *ngIf="service.user">
      <span class="bi bi-list"></span>
    </button>

<!--    <a class="navbar-brand text-white mx-2" href="#">COMOloHAGO</a>-->
    <a class="mx-2" href="#">
      <img class="" src="assets/logo.svg" alt="COMOloHAGO" style="max-height: 24px">
    </a>

    <span class="navbar-toggler p-0" *ngIf="service.user">
      <button class="btn btn-outline-light" data-bs-toggle="collapse"
              data-bs-target="#navbarSearchContent" aria-controls="navbarSearchContent "
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="bi bi-search"></span>
      </button>
    </span>

    <div class="justify-content-end order-sm-last ms-sm-auto" id="navbarSupportedContent">
      <button class="btn btn-primary text-nowrap me-1" routerLink="login" *ngIf="!service.user">
        <i class="bi bi-person-circle"> Iniciar Secion</i>
      </button>

      <div class="d-flex gap-1 justify-content-end">
        <button class="btn btn-primary text-nowrap me-1" routerLink="cart" *ngIf="service.user?.canBuy"
          (click)="resetTime()">
          <i class="bi bi-cart"></i>
        </button>
        <div class="dropdown" *ngIf="service.user">
          <app-notifications [userId]="service.user.id||''" [timeEvent]="time"></app-notifications>
        </div>
        <div class="dropdown" *ngIf="service.user">
          <button class="btn btn-primary text-nowrap " type="button" data-bs-toggle="dropdown">
            <i class="bi bi-person-circle me-sm-1"></i>
            <span class="px-1 d-none d-sm-inline-block ">{{ service.user.username }}</span>
            <span class="dropdown-toggle d-none d-sm-inline-block"></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="#" routerLink="edit">Editar cuenta</a></li>
            <li><a class="dropdown-item" href="#" routerLink="user/{{service.user.id}}">Ver cuenta</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#" routerLink="login">Cambiar cuenta</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#" routerLink="login" (click)="salir()">Salir</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="collapse navbar-collapse mt-1 mt-sm-0 " id="navbarSearchContent" *ngIf="service.user">
      <form class="d-flex me-1 input-group border border-1 border-white rounded-2 position-relative">
        <input class="form-control border-orange" type="search" placeholder="Buscar obra"
               autocomplete="off"
               [value]="searchBarVal" (input)="chargeSuggs(searchBar.value)" id="searchBar" #searchBar>
        <div class="position-absolute top-100
            w-100 px-1 bg-white border border-black  rounded"
             [hidden]="suggs.length<=0 || !focusSearch" #searchSuggs>
          <div *ngFor="let s of suggs" (click)="searchBar.value=s; focusSearch=false"
            class="btn d-block text-start p-0">{{s}}</div>
        </div>
        <button class="btn btn-primary bi bi-search" type="submit" form="searchForm"
                (click)="search(searchBar.value)"></button>

      </form>
    </div>

  </div>
</nav>


<div class="offcanvas offcanvas-start bg-red-orange text-white p-2 px-3" id="sideBar">
  <div class="d-flex justify-content-start align-content-center">
    <button class="btn btn-outline-light" data-bs-dismiss="offcanvas" aria-label="Close">
      <span class="bi bi bi-list"></span>
      <!--      <span class="navbar-toggler-icon"></span>-->
    </button>
    <a class="m-2" href="#">
      <img class="" src="assets/logo.svg" alt="COMOloHAGO" style="max-height: 24px">
    </a>
  </div>
  <div class="offcanvas-body row-gap-1 d-flex flex-column">
    <a class="btn btn-primary text-start bi bi-globe"
       data-bs-dismiss="offcanvas" routerLink="explore" (click)="search('')"> Explorar</a>
    <a class="btn btn-primary text-start bi bi-plus-square"
       data-bs-dismiss="offcanvas" routerLink="publicate"> Nueva obra</a>
    <a class="btn btn-primary text-start bi bi-palette"
       data-bs-dismiss="offcanvas" routerLink="explore" [queryParams]="{
       text: '@'+service.user?.username
       }"> Mis obras</a>
    <a class="btn btn-primary text-start bi bi-cart-check"
       data-bs-dismiss="offcanvas" routerLink="purchases"> Compras</a>
    <a class="btn btn-primary text-start bi bi-coin"
       data-bs-dismiss="offcanvas" routerLink="sells"> Ventas</a>
    <a class="btn btn-primary text-start bi bi-truck"
       *ngIf="service.user?.role == 'ADMIN' || service.user?.role == 'DELIVERY'"
       data-bs-dismiss="offcanvas" routerLink="deliveries"> Entregas</a>

    <ng-container *ngIf="service.user?.role == 'ADMIN'">
      <hr>
      <a class="btn btn-primary text-start bi bi-person-lines-fill"
         data-bs-dismiss="offcanvas" routerLink="users"> Listar Usuarios</a>
      <a class="btn btn-primary text-start bi bi-bar-chart"
         data-bs-dismiss="offcanvas" routerLink="stats/users"> Estadisticas de usuarios</a>
      <a class="btn btn-primary text-start bi bi-bar-chart"
         data-bs-dismiss="offcanvas" routerLink="stats/pubs"> Estadisticas de publicaciones</a>
      <a class="btn btn-primary text-start bi bi-bar-chart"
         data-bs-dismiss="offcanvas" routerLink="stats/sells"> Estadisticas de ventas</a>
    </ng-container>

    <hr>
    <a class="btn btn-primary text-start bi bi-info-circle"
       data-bs-dismiss="offcanvas" routerLink="terms"> Términos y condiciones</a>
    <a class="btn btn-primary text-start bi bi-question-circle"
       data-bs-dismiss="offcanvas" routerLink="answers"> Preguntas frecuentes</a>
  </div>
</div>

<div class="main-side">
  <router-outlet></router-outlet>
</div>

<footer class="p-sm-5 p-2 bg-black text-white d-flex justify-content-center text-break">
  <div class="col-md-4 col-sm-3">
    Julian Magnabosco 2024.
  </div>
  <div class="col-md-4 col-sm-3">
    Más:
    <div>
      <a routerLink="/terms" class="text-warning ">Términos y condiciones</a>
    </div>
    <div>
      <a routerLink="/answers" class="text-warning ">Preguntas Frecuentes</a>
    </div>
  </div>
  <div class="col-md-4 col-sm-3">
    Contactos:
    <div>
      julian.magnabosco&commat;gmail.com
    </div>
    <div class="fs-3 ">
      <a class="text-warning bi bi-twitter-x" href="https://x.com/home"></a>
      /
      <a class="text-warning bi bi-github" href="https://github.com/114211-Magnabosco-Julian"></a>
    </div>
  </div>
</footer>
