/* You can add global styles to */
:root{
  --text: #000000;
  --background: #f2eded;
  --primary-dark: #8f2a07;
  --primary: #d7410d;
  --shiny: #f6751e;
  --secondary: #d78914;
  --warn: #e3bf0c;
  --accent: #eafd24;
}

.space-text{
  padding-left: 0.2em;
  letter-spacing: 0.2em
}

.form-control:focus {
  border-color: #501605;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}
.bg-red-orange{
  background-color: var(--primary);
}
.bg-orange{
  background-color: #f6751e;
}
.bg-orange-low{
  background-color: #ffd1b7;
}

.btn-primary,
:not(.btn-check)+.btn:active,
.btn-check:hover+.btn{
  background-color: var(--primary);
  border-color: var(--primary);
}
.btn.btn-primary:active,
.btn.btn-primary.show{
  background-color: var(--primary-dark);
  border-color: var(--primary-dark);
}
.btn-primary:hover,
.btn-check:checked+.btn{
  background-color: #f6751e;
  border-color: #f6751e;
}
.btn-primary:disabled {
  background-color: #cc7c4a;
  border-color: #cc7c4a;
}



.btn-check:active+.btn{
  background-color: #f6751e;
  border-color: #f6751e;
}


.form-orange{
  border: 2px solid var(--primary);
  background-color: #f1e8e8;
}
.form-label-grey{
  background-color: rgba(241, 232, 232, 0);
}

.border-orange{
  border: 3px solid var(--primary);
}

.btn-border-orange{
  border: 3px solid var(--shiny);
}
.btn-border-orange:hover{
   border: 3px solid var(--warn);
 }

.btn-border-white{
  border: 3px solid #ffffff;
}
.btn-border-white:hover{
  border: 3px solid var(--warn);
}

.border-transparent{
  border: 3px solid rgba(255, 255, 255, 0);
}

.gap-image-1{
  top: 0;
  left: 0;
}

.gap-image-2{
  bottom: 0;
  right: 0;
}

.gap-image-3{
  bottom: 0;
  left: 0;
}
.img-stat-1{
  position: absolute;
  width: 65%;
  height: 65%;
}
.img-stat-2{
  position: absolute;
  width: 50%;
  height: 50%;
}
.img-stat-container{
  min-width: 60px;
  min-height: 60px;
  max-width: 130px;
  max-height: 130px;
}


.main-side{
  /*margin-top: 56px;*/
  position: relative;
  min-height: 100vh;
  padding-top: 56px;
}

.input-float{
  position: relative;
  padding: .25rem .25rem .25rem .50rem ;
  border: 2px solid #ffe9e6 ;
  border-radius: 10px;
  background-color: white;
  input, select{
    padding-top: 1.50rem;
    outline: none;
    display: block;
    width: 100%;
    border: none;
  }
  label{
    transform-origin: left center;
    transition: transform 250ms;
    position: absolute;
    transform: translateY(50%);
  }
  label:has(+input:focus),
  label:has(+select:focus),
  label:not(:placeholder-shown),
  label.label-float{
    transform-origin: left center;
    transition: transform 250ms;
    transform: scale(0.8);
    opacity: 0.8;
  }
}

.border-gradient{
  border: double 4px transparent;
  border-radius: 2rem;
  background-image: linear-gradient(var(--background), var(--background)),
  linear-gradient(var(--shiny), var(--warn));
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.middle-body{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -75%);
}

.sticky-controls{
  position: sticky;
  top: 56px;
}
