/* You can add global styles to */
.btn-primary {
  background-color: #DB5E0D;
  border-color: #DB5E0D;
}
.btn-primary:hover {
  background-color: #f6751e;
  border-color: #f6751e;
}

h1, .space-text{
  letter-spacing: 0.5em
}

