/* You can add global styles to */
.btn-primary {
  background-color: #DB5E0D;
  border-color: #DB5E0D;
}
.btn-primary:hover {
  background-color: #f6751e;
  border-color: #f6751e;
}
.btn-primary:disabled {
  background-color: #cc7c4a;
  border-color: #cc7c4a;
}

.btn-check:hover+.btn{
  background-color: #f6751e;
  border-color: #f6751e;
}
.btn-check:checked+.btn{
  background-color: #f6751e;
  border-color: #f6751e;
}
.btn-check:active+.btn{
  background-color: #f6751e;
  border-color: #f6751e;
}


h1, .space-text{
  letter-spacing: 0.5em
}

.form-orange{
  border: 3px solid #f6751e;
  background-color: #f1e8e8;
}
.form-label-grey{
  background-color: rgba(241, 232, 232, 0);
}

.border-orange{
  border: 3px solid #f6751e;
}

.button-orange{
  border: 3px solid #f6751e;
}
.button-orange:hover{
   border: 3px solid #f6cb1e;
 }

.border-white-button{
  border: 3px solid #ffffff;
}
.border-white-button:hover{
   border: 3px solid #f6981e;
}

.bg-orange{
  background-color: #f6751e;
}
.bg-orange-low{
  background-color: #ffd1b7;
}

.border-transparent{
  border: 3px solid rgba(255, 255, 255, 0);
}

.gap-image-1{
  top: 0;
  left: 0;
}

.gap-image-2{
  bottom: 0;
  right: 0;
}

.gap-image-3{
  bottom: 0;
  left: 0;
}
.img-stat-1{
  position: absolute;
  width: 65%;
  height: 65%;
}
.img-stat-2{
  position: absolute;
  width: 50%;
  height: 50%;
}
.img-stat-container{
  min-width: 60px;
  min-height: 60px;
  max-width: 130px;
  max-height: 130px;
}


.main-side{
  margin-top: 56px;
}
