<button class="btn btn-primary text-nowrap me-1" type="button" data-bs-toggle="dropdown">
  <i class="bi bi-bell"></i>
</button>
<div class="dropdown-menu dropdown-menu-end bg-secondary-subtle">
  <ul class="list-group overflow-y-auto rounded-0" style="width: 30rem; max-height: 15rem">
    <ng-container *ngFor="let n of list;let i = index">
      <li class="border-top border-bottom border-black" [routerLink]="n.direction">
        <a class="dropdown-item bg-white" style="white-space: initial" >
          <div class="fw-bold text-break" >{{n.title}}</div>
          <div class="ms-2 text-break">{{n.text}}</div>
          <div class="fst-italic text-end text-secondary">{{n.dateTime | date:"d/MM/yyyy H:mm"}}</div>
        </a>
      </li>
    </ng-container>
    <ng-container *ngIf="list.length<=0">
      <li class="text-center bi-bell-slash">
        Sin notificaciones
      </li>
    </ng-container>
  </ul>
</div>
