<div class="container">
  <div class="text-center p-1">
    <h1>Mis obras</h1>
  </div>
  <div class="card border-orange mb-3">
    <form [formGroup]="form" class="p-3">
      <div class="d-flex mb-1">
        <div class="col input-group">
          <input type="text" formControlName="text" class="form-control form-orange " id="nameInput"
                 placeholder="Nombre de la obra, tags o autor (separados por espacios)">
          <button class="btn button-orange form-orange bi bi-x-lg" (click)="form.get('text')?.setValue('')"
                  *ngIf="form.get('text')?.value != ''">
          </button>
          <button class="btn btn-primary bi bi-search" (click)="charge(0)">
            BUSCAR
          </button>
        </div>
        <button class="col-auto btn btn-secondary bi bi-gear-fill" data-bs-toggle="collapse"
                data-bs-target="#extraOptions">
        </button>
      </div>
      <div class="row collapse " id="extraOptions">
        <div class="col">
          <div class="mb-1 input-group">
            <input type="text" formControlName="materials" class="form-control form-orange" id="materialsInput"
                   placeholder="Materiales (Debes escribirlos separados por comas)">
            <button class="btn button-orange form-orange bi bi-x-lg" (click)="form.get('materials')?.setValue('')"
                    *ngIf="form.get('materials')?.value != ''">
            </button>
          </div>
          <div class="row g-1 mb-1">
            <div class="col-4 form-floating">
              <select class="form-select form-orange" formControlName="diffMin" id="diffMin">
                <option value="1" selected>FÁCIL</option>
                <option value="2">NORMAL</option>
                <option value="3">DIFICIL</option>
                <option value="4">MUY DIFICIL</option>
              </select>
              <label class="form-label-grey" for="type">Dificultad minima</label>
            </div>
            <div class="col-4 form-floating">
              <select class="form-select form-orange" formControlName="diffMax" id="diffMax">
                <option value="1" selected>FÁCIL</option>
                <option value="2">NORMAL</option>
                <option value="3">DIFICIL</option>
                <option value="4">MUY DIFICIL</option>
                <label for="type">Tipo de obra</label>
              </select>
              <label class="form-label-grey" for="diffMax">Dificultad maxima</label>
            </div>
            <div class="col-4 form-floating">
              <select class="form-select form-orange" formControlName="type" id="type">
                <option selected value="NONE">--CUALQUIER TIPO--</option>
                <option value="ARTE">ARTE</option>
                <option value="CIENCIA">CIENCIA</option>
                <option value="TECNOLOGIA">TECNOLOGIA</option>
              </select>
              <label class="form-label-grey" for="type">Tipo de obra</label>

            </div>
          </div>

          <div class="row g-1 align-items-center justify-content-between ">
            <div class="col-auto ">
              <div class="rounded-2 form-orange h-100 d-flex align-items-center">
                <label class="p-2">Calificacion minima</label>
                <span *ngFor="let i of [0,1,2,3,4]">
                  <input type="radio" class="btn-check" formControlName="points" [value]="i" [id]="'option'+i" checked>
                  <label class="btn bi bi-star-fill text-secondary" [for]="'option'+i"
                         [class.text-warning]="form.get('points')?.value>i-1">
                  </label>
                </span>
              </div>
            </div>


            <div class="col-auto">
              <button class="btn btn-warning text-break bi bi-arrow-clockwise" (click)="clear()">
                LIMPIAR
                FILTROS
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="gap-1 row justify-content-center p-3">
    <div class="col-1 card btn button-orange bg-body-tertiary" href="#" style="width: 15rem;" *ngFor="let p of list"
         (click)="go(p.id)">
      <div class="d-flex justify-content-between">
        <h3 class="card-title">{{ p.name }}</h3>
        <h5 class="text-secondary">{{ p.difficulty }}</h5>
      </div>
      <div class="position-relative">
        <img [src]="p.imageUrl" class="card-img-top" [alt]="p.name" style=" max-height: 15rem;"
             *ngIf="p.imageUrl!=''">
        <span class="position-absolute bottom-0 start-0 rounded-pill text-bg-secondary p-1 text-warning"
              *ngIf="p.calification!=0">
          <i class="bi bi-star-fill" *ngFor="let s of [].constructor(p.calification)"></i>
        </span>
      </div>
      <div class="card-body">
        <p class="card-text">{{ p.description }}</p>
      </div>
    </div>
    <h2 *ngIf="list.length<=0" class="text-center text-secondary text-break">No se encontraron publicaciones...</h2>
  </div>

  <div *ngIf="list.length>0">
    <ul class="pagination justify-content-center ">
      <li class="page-item ">
        <button class="page-link button-orange text-black" (click)="charge(page-1)">Previous</button>
      </li>
      <li class="page-item " *ngFor="let p of pages; ">
        <button class="page-link " (click)="charge(p)"
                [ngClass]="p == page ? 'bg-orange-low button-orange text-white':'button-orange text-black'"
        >{{ p + 1 }}
        </button>
      </li>
      <li class="page-item ">
        <button class="page-link button-orange text-black" (click)="charge(page+1)">Next</button>
      </li>
    </ul>
  </div>
</div>
