<div class="container">
  <h1 class="h1">Compras</h1>
  <div class="card border-orange p-2 mb-3">
    <div class="row justify-content-center ">

      <div class="col">
        <div class="d-flex mb-1 gap-2">
          <div class="col-auto">
            <label for="firstDate" class="col-form-label">De </label>
          </div>
          <div class="col-auto">
            <input type="date" id="firstDate" class="form-control" aria-describedby="passwordHelpInline"
                   name="firstDate" [max]="lastDate"
                   [(ngModel)]="firstDate">
          </div>
          <div class="col-auto">
            <label for="lastDate" class="col-form-label"> A </label>
          </div>
          <div class="col-auto">
            <input type="date" id="lastDate" class="form-control" aria-describedby="passwordHelpInline"
                   name="lastDate" [min]="firstDate"
                   [(ngModel)]="lastDate">
          </div>
        </div>
        <div class="input-group">
          <input type="text" [(ngModel)]="text" class="form-control form-orange " id="nameInput" name="text"
                 placeholder="Nombre de la obra/obras">
          <button class="btn btn-border-orange form-orange bi bi-x-lg" (click)="text=''"
                  *ngIf="text != ''">
          </button>
        </div>
      </div>
      <div class="col-auto">
        <button class="btn btn-primary h-100" (click)="charge(0)">BUSCAR</button>
      </div>
    </div>
  </div>

  <div class="p-3 column-gap-2">
    <div class="position-absolute top-50 start-50 translate-middle"
         *ngIf="list.length<=0">
      <h1 class="text-center "> Sin compras registradas</h1>
    </div>
    <div class="row border-5 btn-border-orange rounded-5 p-2 bg-secondary-subtle mb-2" *ngFor="let i of list"
         data-bs-toggle="modal" data-bs-target="#exampleModal"
         (click)="open(i)">
      <div class="col-auto position-relative img-stat-container p-1">
        <img class="border border-4 border-secondary rounded rounded-4 w-100 h-100"
             [src]="i.details[0].imageUrl" *ngIf="!i.details[1]">

        <img class="border border-4 border-secondary rounded rounded-2 image-pos-1 img-stat-1"
             [src]="i.details[0].imageUrl" *ngIf="i.details[1]">
        <img class="border border-4 border-secondary rounded rounded-2 image-pos-2 img-stat-1"
             [src]="i.details[1].imageUrl" *ngIf="i.details[1]">
        <span class="p-2 rounded rounded-circle image-pos-3 bg-secondary  text-white"
             *ngIf="i.details[2]">+{{ i.details.length - 2 }}</span>
      </div>
      <div class="col p-3 justify-content-between align-content-center">
        <!--          <div class="row row-gap-2" >-->
        <!--            <div class="col-lg-4 col-12">-->
        <!--              N°{{i.id}} - {{i.dateTime | date:"d/MM/yyyy hh:mm"}}-->
        <!--            </div>-->
        <!--            <div class="col-lg-4 col-12">-->
        <!--              Obras: <span class="text-secondary" *ngFor="let d of i.details; index as index">-->
        <!--            {{ index==0?'':',' }} ({{d.count}}){{d.name}}</span>-->
        <!--            </div>-->
        <!--            <div class="col-lg-4 col-12">-->
        <!--              Monto total: <span class="text-secondary">${{i.total}}</span>-->
        <!--            </div>-->

        <!--          </div>-->
        <div class="mb-2 h5">
          N°{{ i.id }} - {{ i.dateTime | date:"d/MM/yyyy hh:mm" }}
        </div>
        <div class="mb-2">
          Obras: <span class="text-secondary" *ngFor="let d of i.details; index as index">
            {{ index == 0 ? '' : ',' }} ({{ d.count }}){{ d.name }}</span>
        </div>
        <div>
          Monto total: <span class="text-secondary">${{ i.total | number:"1.0-2"}}</span>
        </div>
      </div>
      <div class="col-sm-auto d-flex align-items-end justify-content-end  p-0">
        <div class="p-3 rounded-5 border border-2 text-uppercase text-center"
             [class]="stateClasses(i.saleState)">
          {{ i.saleState }}
        </div>
      </div>
    </div>
  </div>

  <ng-container *ngIf="pages>1">
    <app-pagination (eventChange)="charge($event)" [pages]="pages" [page]="page"></app-pagination>
  </ng-container>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content bg-transparent border-transparent">
      <app-show-purchase [purchase]="selected" (eventClose)="charge(0)"></app-show-purchase>
    </div>
  </div>
</div>
