<div class="container mt-4 p-2 bg-light border-gradient middle-body" style="max-width: 25rem">

  <form [formGroup]="emailForm" (ngSubmit)="onSubmit()" class="d-flex flex-column row-gap-3 p-2" *ngIf="phase==0">
    <h2 class="text-center mb-2 space-text"> SOLICITAR TOKEN DE AUTENTICACIÓN</h2>
    <div class="input-float">
      <label for="emailInput">Email de la cuenta</label>
      <input type="text" formControlName="email" id="emailInput" placeholder=""
             [class.is-invalid]="(emailForm.controls['email'].touched || emailForm.controls['email'].dirty)
      && emailForm.controls['email'].invalid">

      <ng-container *ngIf="(emailForm.controls['email'].touched || emailForm.controls['email'].dirty)">
        <div class="invalid-feedback" *ngIf="emailForm.controls['email'].hasError('email')">
          El email es invalido.
        </div>
<!--        <div class="text-danger" style="font-size: .875em" *ngIf="tips.okEmail &&-->
<!--        !emailForm.controls['email'].invalid">-->
<!--          Email no existe-->
<!--        </div>-->
      </ng-container>

    </div>

    <div>
      Se le enviara un token al mail seleccionado, con el cual podra restablecer su contraseña. El token dura 5 minutos.
    </div>
    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-primary" [disabled]="emailForm.invalid || authService.loading">
        <span class="spinner-border spinner-border-sm" *ngIf="emailForm.valid && authService.loading"></span>
        SOLICITAR TOKEN
      </button>
    </div>

  </form>
  <form [formGroup]="form" (ngSubmit)="saveSubmit()" class="d-flex flex-column row-gap-3 p-2" *ngIf="phase==1">
    <h2 class="text-center mb-2 space-text"> CAMBIAR CONTRASEÑA</h2>
    <div class="input-float">
      <label for="tokenInput">Token</label>
      <input type="text" formControlName="token" id="tokenInput" placeholder=""
             [class.is-invalid]="(form.controls['token'].touched || form.controls['token'].dirty)
      && form.controls['token'].invalid">
    </div>

    <div class="input-float">
      <label for="passwordInput">Contraseña</label>
      <input type="password" formControlName="password" id="passwordInput" placeholder=""
             [class.is-invalid]="(form.controls['password'].touched || form.controls['password'].dirty)
      && form.controls['password'].invalid">

      <ng-container *ngIf="(form.controls['password'].touched || form.controls['password'].dirty)">
        <div style="font-size: .875em" *ngIf="form.controls['password'].valid" class="mt-1"
             [ngSwitch]="tips.points">
          <span *ngSwitchDefault class="text-success bi bi-check-circle"> Contraseña Fuerte</span>
          <span *ngSwitchCase="2" class="text-warning-emphasis bi bi-dash-circle"> Contraseña Normal</span>
          <span *ngSwitchCase="1" class="text-danger fst-italic bi bi-x-circle"> Contraseña Debil (Mezcla mayúsculas, minúsculas y números para mejorarla)</span>
          <span *ngSwitchCase="0">Verificando...</span>
        </div>
        <div class="invalid-feedback" *ngIf="form.controls['password'].hasError('maxlength')">
          La contraseña no puede superar los 50 caracteres.
        </div>
        <div class="invalid-feedback" *ngIf="form.controls['password'].hasError('minlength')">
          La contraseña no puede tener menos los 8 caracteres.
        </div>
      </ng-container>
    </div>

    <div class="input-float">
      <label for="passwordInput2">Repetir Contraseña</label>
      <input type="password" formControlName="password2" id="passwordInput2" placeholder=""
             [class.is-invalid]="(form.controls['password2'].touched || form.controls['password2'].dirty)
      && form.controls['password2'].invalid">
      <ng-container *ngIf="(form.controls['password2'].touched || form.controls['password2'].dirty)">
        <div class="text-danger" style="font-size: .875em" *ngIf="form.hasError('notSame')">
          La contraseña debe coincidir.
        </div>
      </ng-container>
    </div>


    <div class="d-flex justify-content-center gap-2">
      <button type="submit" class="btn btn-warning" (click)="back()">Volver</button>
      <button type="submit" class="btn btn-primary" [disabled]="form.invalid || authService.loading">
        <span class="spinner-border spinner-border-sm" *ngIf="form.valid && authService.loading"></span>
        GUARDAR CONTRASEÑA
      </button>
    </div>
  </form>
</div>
