
<div class="container">
  <div class="h1 w-100 text-center">Estadisticas de publicaciones</div>

  <div class="d-flex gap-2 w-100 mb-2 justify-content-center">
    <select class="form-select w-auto bg-secondary-subtle" [(ngModel)]="selectedYear" (change)="charge()">
      <option *ngFor="let y of years" [ngValue]="y">{{y}}</option>
    </select>

    <select class="form-select w-auto bg-secondary-subtle" [(ngModel)]="selectedMonth" (change)="charge()">
      <option *ngFor="let y of months" [ngValue]="y">{{y | dateCustom}}</option>
    </select>
    <button class="btn btn-primary" (click)="charge()">FILTRAR</button>
  </div>

  <div class="card bg-body-tertiary">
    <div class="h5 text-center border border-bottom p-4">
      Publicaciones del mes {{selectedMonth | dateCustom}} {{selectedYear}}
    </div>
    <div class="overflow-x-auto">
      <div echarts [options]="options"
           [theme]="service.coolTheme"
           class="demo-chart"
           *ngIf="nodata=='n'"></div>
      <div class="h2 fst-italic w-100 text-center"
           *ngIf="nodata=='y'"> Sin Datos</div>
      <div class="h2 fst-italic w-100 text-center"
           *ngIf="nodata=='c'"> Cargando...</div>
    </div>
  </div>
</div>
