
<div class="container my-4">

  <div class="mt-2 p-3 px-4 bg-light rounded-5 border-gradient border-5">

    <div class="d-flex justify-content-center mb-3">
      <div class="border-orange border-5 rounded-circle overflow-hidden"  style="max-width: 20rem">
        <img [src]="user.iconUrl || 'assets/camera.png'" class="w-100 h-100" style="aspect-ratio: 1/1" >
      </div>
    </div>
    <div  class="fs-4 fw-bolder  mb-1 text-center">{{user.username }}</div>
    <div class="text-center">{{user.email }}</div>
    <div class="text-center fst-italic mb-4 text-secondary">Se unio el {{user.dateTime| date:"d/MM/yyyy"}}</div>

    <hr>

    <div class="gap-1 row justify-content-center align-items-center ">
      <div class="row justify-content-between">
        <div class="col-auto h5 fw-bold">
          Obras publicadas: {{elements}}
        </div>
        <div class="col-auto dropdown">
          <button class="btn btn-light dropdown-toggle" type="button"
                  data-bs-toggle="dropdown" aria-expanded="false">
            Ordenar Por: {{ sort == 'CALF' ? 'Mejor Calificado' : 'Más Reciente' }}
          </button>
          <ul class="dropdown-menu">
            <li>
              <button class="dropdown-item" (click)="changeSort('DATE')">Más Reciente</button>
            </li>
            <li>
              <button class="dropdown-item" (click)="changeSort('CALF')">Mejor Calificado</button>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-auto h-25"  *ngFor="let p of list" >
        <app-item-publication [publication]="p" [showAll]="false"></app-item-publication>
      </div>

      <h2 *ngIf="list.length<=0 && !pubService.loading" class="text-center text-secondary text-break">
        No tiene publicaciones...
      </h2>
      <h2 *ngIf="list.length<=0 && pubService.loading" class="text-center text-secondary text-break">
        <span class="spinner-border"></span> Cargando...
      </h2>
      <!-- paginacion -->
      <ng-container *ngIf="pages>1">
        <app-pagination (eventChange)="chargeList($event)" [pages]="pages" [page]="page"></app-pagination>
      </ng-container>
    </div>
    <ng-container *ngIf="user.same">
      <h5 class="text-center">Datos de compra/venta</h5>

      <div class="row justify-content-between">
        <div class="col-6 p-2">
          <div class="px-3 bg-secondary-subtle">
            <div class="fw-bold">Nombre</div>
            <div class="fs-5 pb-2">{{user.name||"--" }}</div>
          </div>
        </div>

        <div class="col-6 p-2">
          <div class="px-3 bg-secondary-subtle">
            <div class="fw-bold">Apellido/s</div>
            <div class="fs-5 pb-2">{{user.lastname||"--" }}</div></div>
        </div>
      </div>

      <div class="row justify-content-between">
        <div class="col-6 p-2">
          <div class="px-3 bg-secondary-subtle">
            <div class="fw-bold">Télefono</div>
            <div class="fs-5 pb-2">{{user.phone||"--" }}</div>
          </div>
        </div>
      </div>

      <div class="row justify-content-between">
        <div class="col-6 p-2">
          <div class="px-3 bg-secondary-subtle">
            <div class="fw-bold">Tipo de Documento</div>
            <div class="fs-5 pb-2">{{user.dniType||"--" }}</div>
          </div>
        </div>

        <div class="col-6 p-2">
          <div class="px-3 bg-secondary-subtle">
            <div class="fw-bold">Documento</div>
            <div class="fs-5 pb-2">{{user.dni||"--"  }}</div></div>
        </div>
      </div>

      <div class="row justify-content-between mb-2">
        <div class="col-md-3 p-2">
          <div class="px-3 bg-secondary-subtle">
            <div class="fw-bold">Provincia</div>
            <div class="fs-5 pb-2">{{user.state }}</div>
          </div>
        </div>

        <div class="col-sm p-2">
          <div class="px-3 bg-secondary-subtle">
            <div class="fw-bold">Direccion o calle</div>
            <div class="fs-5 pb-2">{{user.direction||"--" }}</div>
          </div>
        </div>

        <div class="col-6 col-sm-4 p-2">
          <div class="px-3 bg-secondary-subtle">
            <div class="fw-bold">Numero</div>
            <div class="fs-5 pb-2">{{user.numberDir||"--" }}</div>
          </div>
        </div>
      </div>

      <div class="row justify-content-between mb-2">
        <div class="col-7 col-sm-4 p-2">
          <div class="px-3 bg-secondary-subtle">
            <div class="fw-bold">Codigo Postal</div>
            <div class="fs-5 pb-2">{{user.postalNum||"--" }}</div>
          </div>
        </div>


        <div class="col-6 col-sm-4 p-2">
          <div class="px-3 bg-secondary-subtle">
            <div class="fw-bold">Piso</div>
            <div class="fs-5 pb-2">{{user.floor||"--" }}</div></div>
        </div>


        <div class="col-6 col-sm-4 p-2">
          <div class="px-3 bg-secondary-subtle">
            <div class="fw-bold">Habitacion</div>
            <div class="fs-5 pb-2">{{user.room||"--" }}</div></div>
        </div>
      </div>

      <div class="row justify-content-between mb-2">
        <div class="col-md-6 p-2">
          <div class="px-3 bg-secondary-subtle">
            <div class="fw-bold">CVU</div>
            <div class="fs-5 pb-2">{{user.cvu||"--" }}</div>
          </div>
        </div>
      </div>
    </ng-container>

  </div>
</div>
